<div style="blue">
  
  <h2>UWL Policies and Supports</h2>

  <h3>Academic Integrity and Misconduct</h3>
  Academic misconduct is a violation of the 
  <a href="http://catalog.uwlax.edu/undergraduate/academicpolicies/studentconduct/">UWL Student Honor Code</a> and is 
  unacceptable. I expect you to submit your own original work and participate in the course with integrity and high standards of 
  academic honesty. When appropriate, cite original sources, following the style rules of our discipline.<br><br>

  Plagiarism or cheating in any form may result in failure of the assignment or the entire course, and may include harsher 
  sanctions. Refer to the 
  <a href="https://www.uwlax.edu/student-life/student-resources/student-handbook/#tm-academic-misconduct--chapter-uws-14-">Student 
  Handbook #14.02</a> for a detailed definition of academic misconduct. 

  For helpful information on how to avoid plagiarism, go to 'Avoiding Plagiarism' on the 
  <a href="http://libguides.uwlax.edu/plagiarism2">Murphy Library website</a>.  You may also visit the 
  <a href="https://www.uwlax.edu/student-life/">Office of Student Life</a> if you have questions about plagiarism or 
  cheating incidents. Failure to understand what constitutes plagiarism or cheating is not a valid excuse for engaging in 
  academic misconduct. 

  <h3>Concerns or Complaints</h3>
  If you have a concern or a complaint about the course, or me, I encourage you to bring that to my attention. My hope would be 
  that by communicating your concern we would be able to come to a resolution. If you are uncomfortable speaking with me, or you 
  feel your concern hasn’t been resolved after bringing it to my attention, you can contact my department chair.

  The Student Academic Non-Grade Appeals process can be found in the 
  <a href="https://www.uwlax.edu/student-life/student-resources/student-handbook/#tm-non-academic-misconduct--chapter-uws-17-">Student 
  Handbook</a>. For more information, see 
  <a href="http://catalog.uwlax.edu/undergraduate/academicpolicies/gradesgradingtesting/#appeal-final-grade">appealing a final grade</a>
  in the Undergraduate Catalog. 

  <h3>Course Access</h3> <!-- [modify as needed] -->
  Access to course materials in D2L may cease after the term ends. If you wish to archive materials for your personal records or 
  portfolio you should do so as you progress through the course. As a general rule, you should always save local copies of 
  course-related work. To avoid disasters, you should also save important files to external media or cloud storage.

  <h3>Eagle Alert System</h3>
  This class will be participating in the 
  <a href="https://www.uwlax.edu/academic-advising-center/eagle-alert/student-resources/">Eagle Alert System</a> through WINGS.
  The system is designed to promote student success. If I notice that you are experiencing difficulties early in the semester 
  (e.g., low assignment scores or limited participation), I may note this information and you will receive an email indicating 
  that I have entered feedback. I may also enter positive feedback encouraging you to consider additional learning opportunities. 
  The link in the email will take you to WINGS where you can login to see the feedback. I encourage you to meet with me and/or refer 
  to the helpful campus resources listed below under Academic Services and Resources and on 
  <a href="https://www.uwlax.edu/info/student-success/">UWL's Student Success page</a>.

  <h3>Inclusive Excellence</h3>
  UWL's <a href="https://www.uwlax.edu/chancellor/mission/">core values</a> 
  include "Diversity, equity, and the inclusion and engagement of all people in a safe campus climate that 
  embraces and respects the innumerable different perspectives found within an increasingly integrated and culturally diverse 
  global community." If you are not experiencing my class in this manner, please come talk to me about your experiences so I can 
  try to adjust the course if possible.   

  <h3>Student Evaluation of Instruction (SEI)</h3>
  UWL conducts student evaluations electronically. Approximately 2 weeks prior to the conclusion of a course, you will receive 
  an email at your UWL email address directing you to complete an evaluation for each of your courses. In-class time will be 
  provided for students to complete the evaluation in class. Electronic reminders will be sent if you do not complete the 
  evaluation. The evaluation will include numerical ratings and, depending on the department, may provide options for comments. 
  The university takes student feedback very seriously and the information gathered from student evaluations is more valuable when 
  a larger percentage of students complete the evaluation. Please be especially mindful to complete the surveys.

  <h3>Academic Services and Resources at UWL</h3>
  Below are services available to all UWL students, including online students:
  <ul>
    <li><a href="http://www.uwlax.edu/advising/">Academic Advising Center</a>
	  <li>ACCESS Center (formerly Disability Resources): http://www.uwlax.edu/access-center/
	  <li>Career Services: http://www.uwlax.edu/careerservices/ 
	  <li>Counseling and Testing Center: http://www.uwlax.edu/counseling/
	  <li>Financial Information: Financial Aid Office https://www.uwlax.edu/finaid/ and It Makes Cents https://www.uwlax.edu/it-makes-cents/ 
	  <li>Murphy Learning Center (Walk-in tutoring): http://www.uwlax.edu/murphy-learning-center/
	  <li>Murphy Library: http://www.uwlax.edu/murphylibrary/
	  <li>Multicultural Student Services: http://www.uwlax.edu/mss/
	  <li>Public Speaking Center: https://www.uwlax.edu/murphy-learning-center/subject/public-speaking-center/
	  <li>Records and Registration: http://www.uwlax.edu/records/
	  <li>Student Handbook: https://www.uwlax.edu/student-life/student-resources/student-handbook/
	  <li>Student Support Services: https://www.uwlax.edu/student-support-services/
	  <li>Veteran Services: http://www.uwlax.edu/veteran-services/
	  <li>Writing Center: http://www.uwlax.edu/writingcenter/
  </ul>
      
  <h3>Technical Support</h3>
  For tips and information about D2L visit the 
  <a href="http://www.uwlax.edu/D2L/Help-for-students/">Information Technology Services (ITS) student support page</a>.
  Need help making sure your computer is set up correctly for online coursework? 
  <a href="https://community.desire2learn.com/d2l/systemCheck">D2L's System Check</a> ensures that your computer and web browser 
  are configured to properly access their system. You can also contact the ITS Support Center at (608) 785-8774 or email them at 
  helpdesk@uwlax.edu for questions about D2L or any other technological difficulties. The hours for ITS are Monday through Thursday 
  from 7:30 am to 6:30 pm, and Friday from 7:30 am to 4:30 pm, Central Time. 

<!-- 
<h3>Success as an Online Learner</h3> [for online courses]
[modify as needed, or extract to a Course Information module in D2L]
Successful completion of this course includes participation in discussions and completion of ALL assignments. As an underlying principle of online learning, successful achievement of course outcomes requires a willingness to self-reflect and self-regulate. You should also frequently reflect on learning goals, application of outcomes, and how you might apply course concepts in your future career or life in general. For additional tips on succeeding as an online learner, review UWL’s Online Readiness Tutorial.
To do well in any online class begin with the following tasks:
Checklist for Getting Started
1	Review Tips for Succeeding in an Online Course (.pdf) if this is your first online class, as well as the Online Readiness Tutorial.
2	Print the Syllabus and read it carefully.
3	Print the Course Outline (schedule). This document should list all readings and assignments, week by week.
4	Click on the button in D2L labeled, Content. Here you will find course modules (lessons), instructor comments, resources and assignments. 
5	Every time you login check the News area (Course Home) and the General Question & Answer Forum (if available) for important course-related news.

<h3>Netiquette</h3>
Netiquette is a combination of ‘net’ (from Internet or Network) and ‘etiquette’ and refers to acceptable Internet behavior. It means respecting others’ views and opinions and displaying common courtesy when posting your views and opinions online in discussion forums, email, blogs, and social networking sites, etc. This type of communication does not allow each person to see facial expressions, body language, or hear intonation so it's especially important to watch what and how we say things online. By following netiquette, online communication becomes clearer and helps you maintain and establish positive online relationships as well as develop a positive online reputation.
All class members should abide by these six simple rules (abridged and modified from the 10 rules of Albion.com):
1.	Be kind and forgiving of mistakes (i.e. do unto others as you'd have others do unto you)
2.	Adhere to the same standards of behavior online that you follow in real life (i.e. be ethical)
3.	Respect other people's time and bandwidth (i.e. avoid long rants and be careful not to monopolize a discussion)
4.	Share expert knowledge (i.e. let others benefit from your insights and experience)
5.	Help keep flame wars under control (i.e. no personal attacks or ongoing attempts to belittle or antagonize others)
6.	Respect other people's privacy

-->

  <h3>Our Legal Obligations to You</h3> <!-- [do not edit or add to these 4 statements] -->
  <!-- Each course syllabus should contain the following text and/or include a link to this page of statements that 
  reflect UWL's legal obligations to students: https://www.uwlax.edu/info/syllabus/  -->
  The following statements reflect UWL's legal obligations to students.
  
  <h4>Sexual Misconduct</h4>
  As an employee of the University of Wisconsin-La Crosse, I am a mandated reporter of sexual harassment and sexual violence 
  that takes place on campus or otherwise affects the campus community. This means that if I receive detailed or specific 
  information about an incident such as the date, time, location, or identity of the people involved, I am obligated to share 
  this with <a href="http://www.uwlax.edu/affirmative-action/">UWL’s Title IX Coordinator</a> in order to enable the university 
  to take appropriate action to ensure the safety and rights of all involved. For students not wishing to make an official report, 
  there are confidential resources available to provide support and discuss the available options. The contact in Student Life is 
  Ingrid Peterson, Violence Prevention Specialist, (608) 785-8062, ipeterson@uwlax.edu. Please see  
  <a href="http://www.uwlax.edu/sexual-misconduct">http://www.uwlax.edu/sexual-misconduct</a> for more resources or to file a report. 

  <h4>Religious Accommodations</h4>
  Per the <a href="http://catalog.uwlax.edu/undergraduate/aboutuwlax/#accommodation-religious-beliefs">UWL Undergraduate and 
  Graduate Catalogs</a>, "any student with a conflict between an academic requirement and any religious observance must be given 
  an alternative means of meeting the academic requirement. The student must notify the instructor within the first three weeks of 
  class (within the first week of summer session and short courses) of specific days/dates for which the student will request an 
  accommodation.  Instructors may schedule a make-up examination or other academic requirement before or after the regularly 
  scheduled examination or other academic requirement."

  <h4>Students with Disabilities</h4>
  Any student with a documented disability (e.g. ADHD, Autism Spectrum Disorder, Acquired Brain Injury, PTSD, Physical, Sensory, 
  Psychological, or Learning Disability) who needs to arrange academic accommodations must contact The ACCESS Center (165 Murphy 
  Library, 608-785-6900, ACCESSCenter@uwlax.edu) and meet with an advisor to register and develop an accommodation plan. In addition
  to registering with The ACCESS Center, it is the student's responsibility to discuss their academic needs with their instructors.
  You can find out more about services available to students with disabilities at the 
  <a href="http://www.uwlax.edu/access-center">ACCESS Center website</a>.

  <h4>Veterans and Active Military Personnel</h4>
  Veterans and active military personnel with special circumstances (e.g., upcoming deployments, drill requirements, disabilities) 
  are welcome and encouraged to communicate these, in advance if possible, to me. For additional information and assistance, 
  contact the Veterans Services Office. http://www.uwlax.edu/veteran-services/. Students who need to withdraw from class or from 
  the university due to military orders should be aware of the 
  <a href="http://catalog.uwlax.edu/undergraduate/academicpolicies/withdrawal/#military-duty-withdrawal-university">military duty 
  withdrawal policy</a>.

</div>

<!-- https://www.uwlax.edu/catl/teaching-guides/syllabus-guide/downloadable-templates/ -->
