<table>
  <tr><td>Day of week</td><td>Time</td><td>Location</td>
  <tr><td>Mondays</td><td>2:15pm-4:15pm</td><td>Murphy Learning Center (273 Murphy)</td>
  <tr><td>Tuesdays</td><td>3:20pm-5:20pm</td><td>My office (1018 Cowley)</td>
  <tr><td>Wednesdays</td><td>6:35pm-7:30pm</td><td>My office (1018 Cowley)</td>
  <tr><td>Thursdays</td><td>4:25pm-5:20pm</td><td>My office (1018 Cowley)</td>
</table>
<br>
<!-- The syllabus will be updated on Monday, September 4, 2017 with finalized weekly office hours.<br><br> -->

<b>Using office hours.</b> If you are stuck on anything, please visit office hours!
These are times that my door is open for all students in my math classes to get help and get questions answered.
I intentionally pick different times on Mondays vs. Wednesdays, and different times on Tuesdays vs. Thursdays in order to try to
increase my availability to students. (If you had a class on Tuesdays and Thursdays at the same time, this increases the chances
that if one time doesn't work, the other time will hopefully work.)<br><br>

To make use of any of the times listed above, I encourage you to show up without an appointment.
The times listed are "open hours" so there is no need to let me know in advance that you are dropping by.
If these times do not work for you, or if you need to discuss a private matter, please e-mail me about setting up a
one-on-one office hour by appointment. (To ensure that the above "open hours" are available to all, I cannot set up an appointment
during the times listed above.)<br><br>

If someone has arrived for office hours before you, please make yourself at home! Do not hide in the hallway, especially out of view.
I will work hard to rotate through so that everyone has a fair chance at getting their questions answered. In addition, by listening
to what other people struggle with, you may end up wanting to hear the answer to another question anyway!

<br><img src="/img/happy16.png" onclick="this.src='/img/office-hours.jpg'"><br>
