<h2>Getting help</h2>
When you are stuck with math, please get help!
Visit regularly-scheduled office hours (no appointment needed).
If these times don't work, please e-mail about scheduling an appointment for time outside regularly-scheduled office hours.
E-mail is not a good format for discussing mathematics, so visit office hours instead!
Mathematical questions will not be answered on the day of a test:
the five minutes before a test starts is not an appropriate time to ask a math question.

<h2>General expectations</h2>
I am committed to your success.
To reach success, there is no substitute for your hard work.
I value your effort much more than I value getting it right the first time around.
I want you to grow and learn this semester, and I hope you will adopt my stance on growth mindset.
Ask questions!
Embrace mistakes as an opportunity to learn.
