---
layout: plain
title: UWL 150 (Fall 2017) Syllabus
---

<div class="well">

	<!-- https://github.com/davidshimjs/qrcodejs -->
	<script type="text/javascript" src="/qrcode.js"></script>

	<div id="qrcode"></div>
	<script type="text/javascript">
	var qrcode = new QRCode(document.getElementById("qrcode"), {
	text: window.location.href,
	width: 128,
	height: 128,
	colorDark : "#000000",
	colorLight : "#ffffff",
	correctLevel : QRCode.CorrectLevel.H
	});
	</script>
	<!-- 
	<div id="qrcode"></div>
	<script type="text/javascript">
	new QRCode(document.getElementById("qrcode"), window.location.href);
	</script> -->

	<h2>MTH 150 (Fall 2017) Syllabus</h2>
	College Algebra, FastTrack (4 credits)<br>
	University of Wisconsin-La Crosse
	<table>
		<tr><td>Section</td><td>Class number</td><td>Days / Times / Location</td></tr>
		<tr><td>150-01</td><td>2195</td><td> MoTuWeTh 7:45a-8:40a, Centennial 3215</td></tr>
		<tr><td>150-04</td><td>2198</td><td> MoTuWeTh 8:50a-9:45a, Centennial 3215</td></tr>
	</table>
	
	<br><img src="/img/happy16.png" onclick="this.src='/img/welcome-team.jpg'"><br>

		
	<h3>Instructor Information</h3>
	Instructor: Dr. Edward D. Kim<br />
	Office: 1018 Cowley Hall<br />
	Phone: 608-785-6613<br />
	Email:  <span class="emailspan"><img src="/shh/a42659826.gif" alt="-" class="email" /><img src="/shh/a71093256.gif" alt="-" class="email" /><img src="/shh/a1208752339807.gif" alt="-" class="email" /><img src="/shh/a1092352398.gif" alt="-" class="email" />@uwlax.edu</span><br />

	<br><img src="/img/happy16.png" onclick="this.src='/img/call-me.jpg'"><br>

	<h3>Office Hours</h3>
	{% include syllabus-office-hours-2017-fall.html %}
	<!--	
	Physical Office hours: <days and times, locations if not your office>
	Virtual Office hours: <days and times, how to contact you (e.g., D2L, email, etc.; required for online-only courses, 
	optional for in-person and hybrid courses)
	-->

	<h3>Course Description</h3>

	<h4>Catalog Description</h4>
	A college algebra course on the properties, graphs, and applications of elementary functions. Topics include the real and complex numbers, concepts from analytic geometry, solutions to equations and inequalities, the elementary algebraic functions, and the logarithmic and exponential functions. Prerequisite: MTH 051 or two years of high school algebra and an appropriate placement test score. (Successful completion of MTH 151, MTH 175, or MTH 207 precludes taking MTH 150 for credit.) Offered Fall, Spring, Summer.
	
	<!-- 
	<h4>Overview</h4>
	Enter a course overview if different from course catalog description
 	 -->
 
	<h4>Prerequisites</h4>
	<!-- [enter prerequisites here or state none]-->
	MTH 051 or two years of high school algebra and an appropriate placement test score.
  
	<h4>Course Learning Outcomes</h4>
	<!-- 15 objectives self-written  -->
	Students will develop an understanding of and appreciation for the theory and applications of algebra. Specifically, by the end of this course, you will be able to:
	<ul>
  <li>simplify and rewrite expressions involving fractions, decimals, exponents, radicals, and logarithms using algebraic identities</li>
  <li>translate applied problems into algebraic equations and interpret the solution in context</li>
  <li>solve equations and inequalities involving absolute values, polynomials, fractions, decimals, exponents, radicals, and logarithms</li>
  <li>complete the square on \(ax^2+bx+c=0\) to obtain the Quadratic Formula</li>
  <li>understand the concepts of functions, including input, output, domain, range, operations, compositions, and inverses</li>
  <li>apply the connection between a function and its graph to answer questions about intercepts and zeroes</li>
  <li>construct the graphs of standard functions (linear, quadratic, square root, exponential, logarithm, absolute value, etc.) and apply graph transformations</li>
  <li>find roots of a polynomial using standard techniques such as polynomial long division</li>
  <li>explain the relationship between functions and their inverses, especially in the context of logarithms</li>
	</ul>
<!-- 
Course Learning Outcomes	Major/Minor Outcomes	General Education or external standards Outcomes (delete column if appropriate)
By the end of this course, you will be able to:	By the end of this course, you will be able to:	By the end of this course, you will be able to:
Objective/Outcome 1	Objective/Outcome 1	Objective/Outcome 1
Objective/Outcome 2	Objective/Outcome 2	Objective/Outcome 2
Objective/Outcome 3	Objective/Outcome 3	Objective/Outcome 3 -->

	<br><img src="/img/happy16.png" onclick="this.src='/img/find-x.jpg'"><br>

	
	<h4>Materials and Tools</h4>
	Textbook: J. Stewart, L. Redlin, S. Watson. <i>Algebra and Trigonometry</i>. 4th Edition. Cengage Learning. Boston.
  <!-- Note whether available from Textbook Rental or need to be purchased. -->
	This textbook will be available from Textbook Rental.
	
	<br><img src="/img/happy16.png" onclick="this.src='/img/book.jpg'"><br>

  
  <h4>General Education Program</h4>
  MTH 150 is a course in the `Mathematics' list of <a href="http://catalog.uwlax.edu/undergraduate/generaleducation/#generaleducationrequirementstext">GE 02</a>.
	
	<h4>Format</h4>
	This is a face-to-face course. You may be asked to reference materials or participate online through the learning 
	management system, Desire2Learn (D2L). If that is the case, you will need your UWL NetID to login to the course from 
	the <a href="http://www.uwlax.edu/d2l/">D2L homepage</a>.

	<h3>Grading Policies</h3>
	Your overall course grade is determined by the following components, with the weights given:

	<ul>

	<li>Blurbs: 10% of your grade. These short writing assignments are due weekly on Wednesdays, starting on September 13.
		(A blurb will not be collected on November 22 because of the holiday.)
		Blurbs need to be typed using standard mathematical notation.
		(I suggest using Google Docs, then exporting a PDF.)
		Assignments will be submitted and returned using GradeScope.</li>

	<li>WeBWorK: 15% of your grade. WeBWorK is an online homework system. Log in to
		<a href="https://webwork2.uwlax.edu/webwork2/MTH150-Kim/">WeBWorK</a>
		with both your username and initial password being the part before the at-sign in your uwlax e-mail address.
		<b>This system is not connected to other password databases on campus: therefore your password is not
		what you use elsewhere on campus, unless you should choose to change it so that they're synced.</b>
		The 'E-mail instructor' button is <b>only</b> for technical errors in WeBWorK:
		mathematical concerns should be discussed in office hours.
		E-mail is not a good format for discussing mathematics, so visit office hours instead!</li>

	<li>Quizzes: 15% of your grade. There are 13 in-class quizzes which will take place in the last 10 minutes of 
		class most Tuesdays as shown in the class calendar. With the exception of Quiz 1 (which covers the first week), 
		the cutoff of material for a Tuesday quiz is what was covered in class the previous Tuesday. 
		(Quiz 1 covers up to and including material from September 7. 
		The remaining quizzes follow a regular coverage schedule: 
		Quiz 2 covers up to and including material from September 12. 
		Quiz 3 covers up to and including September 19.) 
		The lowest 2 quizzes will be dropped. 
		There are no make-up quizzes, 
		except in extreme circumstances determined by the instructor.</li>

	<li>In-class exams: 40% of your grade. Other than the final, there are four in-class exams of 55 minutes, 
		each of equal weight (10% each).
		<ul>
		<li>Exam 1 (on Thr Sep 28) covers material from Sep 5 through the end of class on Sep 21.</li>
		<li>Exam 2 (on Thr Oct 19) covers material from Sep 5 through the end of class on Oct 12, with emphasis on material after Sep 21.</li>
		<li>Exam 3 (on Thr Nov 9) covers material from Sep 5 through the end of class on Nov 2, with emphasis on material after Oct 12.</li>
		<li>Exam 4 (on Thr Nov 30) covers material from Sep 5 through the end of class on Nov 21, with emphasis on material after Nov 2.</li>
		</ul>
		While exams generally emphasize later material, mathematics is inherently cumulative so the <b>exams are cumulative too</b>.
		Exams must be taken on the scheduled day unless prior arrangements have been made for extreme circumstances.</li>

	<li>Final Exam: 20% of your grade. The final exam is comprehensive (covers all sections which we covered).
		In accordance with the 
		<a href="https://www.uwlax.edu/records/faculty-staff-resources/final-exam-schedule/#tab-fall-2017">final exam schedule</a>,
		the final exam is on Saturday, December 16, 2017.
		The exam starts at 7:45am and is two hours long.
		In accordance with the growth mindset policy of this class,
		if your percentage on the final is higher than your percentage on an in-class exam,
		the score for one of your in-class exams will be replaced with the final exam percentage.</li>
	</ul>
		
	Every quiz and every exam will have one or more conceptual question.
	Sample solutions are provided for the conceptual questions, but instead of just memorizing the solutions, 
	I urge you to <i>understand</i> the answer to each question!

	<br><img src="/img/happy16.png" onclick="this.src='/img/turn-in-all-the-things.jpg'"><br>

	<h4>Late Assignments, Missed Exams</h4>
	Assignments are due on the dates indicated in the Course Schedule. For extenuating circumstances that impact your ability 
	to meet deadlines or participate in class activities, you are responsible for alerting me as soon as possible. 

	<!-- [explain how students should notify you if they are, e.g., ill on an exam day, and, as required by the Faculty Senate 
	Syllabus Policy, your policy on missed course work, including exams or other graded in-class work] -->

	If a situation should arise (e.g., ill on an exam day), please notify me by e-mail as soon as possible:
	a determination of alternate arrangements will be made on a case-by-case basis, but the instructor has the final determination
	for what absences are eligible, which is why it is important to alert the instructor as soon as you know of an absence
	which would affect an assignment deadline or test date.

	<br><img src="/img/happy16.png" onclick="this.src='/img/late-work.jpg'"><br>


	<h4>Attendance and Participation</h4>
	There are no points in the course grading policies assigned to attendance or participation. Though attendance and 
	participation do not have a direct effect on your grade, attendance and participation are required for success with 
	homeworks, quizzes, and exams. I strongly recommend that you attend and participate every class session! If you have 
	any extenuating circumstance that may prevent full attendance or participation, please let me know as soon as possible.

	<br><img src="/img/happy16.png" onclick="this.src='/img/attendance.jpg'"><br>
	
	
	<h3>Expectations for Graded Work</h3>
	<div>I provide students feedback and/or scores on assignments that require individualized grading.  Generally, I return 
		work that requires individual feedback within 21 days from the date the work was due. I will notify you if I am 
		unable to grade the work within the 21-day timeframe, and will identify a revised return date. If you submit work 
		after the due date, it may not be accepted for credit, and it may not be returned within 21 days.</div><br>
 
	<div>The grades for any work that is graded electronically, such as scanned examinations, will be accessible to you within 
		14 days of the due date for the work. If you submit electronically graded work after the due date, it will not be 
		accepted for credit except under extreme circumstances determined by the instructor.</div><br>
 
	<div>Your graded coursework will be returned in compliance with FERPA regulations, such as in class, during my office hours, 
		via the course management system through which only you will have access to your grades, or using Gradescope.
		Assignments will be returned as soon as possible but due to the nature of mathematics assignments (especially where 
		a consecutive assignment can be started prior to the previous assignment being due), it is not possible to return 
		work prior to a similar assignment being due, but you should generally have returned work with feedback within the 
		subsequent assignment being due.</div><br>

	<br><img src="/img/happy16.png" onclick="this.src='/img/feedback.jpg'"><br>
	
	<h3>Grading Scale</h3>

	To be guaranteed a given grade, a student needs to obtain at least the following overall percentage:

	<table>
		<tr><td>Letter Grade</td><td>Minimum Percentage</td></tr>
		<tr><td>A</td><td>91%</td></tr>
		<tr><td>AB</td><td>88%</td></tr>
		<tr><td>B</td><td>82%</td></tr>
		<tr><td>BC</td><td>78%</td></tr>
		<tr><td>C</td><td>70%</td></tr>
		<tr><td>D</td><td>60%</td></tr>
	</table>

	<br><img src="/img/happy16.png" onclick="this.src='/img/youre-going-to-rock.jpg'"><br>

	<h2>Course Outline and Schedule</h2>
	Please note that the timing of activities and topics listed below may change.
	I will give you timely notice of any major changes in the syllabus through email, on D2L, in class, or some combination 
	of methods.

	<!-- 
Week	Dates	Topics/Unit	Course Resources/
Readings	Instructional Activities/Assignments	Due Dates	Linked to Learning Objective/s
1	Enter Date 	List topic/unit to be covered – add rows as needed	Books/Article links/video links/ multimedia links, readings, lectures, activities 	Activities/Discussion
	Date, Time, Assignment	Which  objectives match these instructional activities or assignments? -->


	<br><img src="/img/happy16.png" onclick="this.src='/img/class-calendar.jpg'"><br>

	

	<br><img src="/img/happy16.png" onclick="this.src='/img/webwork-cat.jpg'"><br>
	
	<h2>FastTrack Hybrid Program</h2>
	The FastTrack hybrid program is connected to UWL 100 program. 
	Students in the FastTrack hybrid program must be enrolled in both MTH 150 and in a section of UWL 100.
	Withdrawing from either class will cause an administrative withdrawal in the other class.	
	
	<hr>
	
	{% include syllabus-uwl-policies.html %}
		
</div>
