---
layout: plain
title: UWL 100 (Fall 2017) Syllabus
---

<div class="well">

	<!-- https://github.com/davidshimjs/qrcodejs -->
	<script type="text/javascript" src="/qrcode.js"></script>

	<div id="qrcode"></div>
	<script type="text/javascript">
	var qrcode = new QRCode(document.getElementById("qrcode"), {
	text: window.location.href,
	width: 128,
	height: 128,
	colorDark : "#000000",
	colorLight : "#ffffff",
	correctLevel : QRCode.CorrectLevel.H
	});
	</script>
	<!-- 
	<div id="qrcode"></div>
	<script type="text/javascript">
	new QRCode(document.getElementById("qrcode"), window.location.href);
	</script> -->

	<h2>UWL 100 (Fall 2017) Syllabus</h2>
	First Year Student Seminar, FastTrack (1 credit)<br>
	University of Wisconsin-La Crosse
	<table>
		<tr><td>Section</td><td>Class number</td><td>Days / Times / Location</td></tr>
		<tr><td>100-03</td><td>3176</td><td>Fr 2:15pm-3:10pm, Centennial 3105</td></tr>
	</table>
	
	<br><img src="/img/happy16.png" onclick="this.src='/img/welcome-team.jpg'"><br>
		
	<h3>Instructor Information</h3>
	Instructor: Dr. Edward D. Kim<br />
	Office: 1018 Cowley Hall<br />
	Phone: 608-785-6613<br />
	Email:  <span class="emailspan"><img src="/shh/a42659826.gif" alt="-" class="email" /><img src="/shh/a71093256.gif" alt="-" class="email" /><img src="/shh/a1208752339807.gif" alt="-" class="email" /><img src="/shh/a1092352398.gif" alt="-" class="email" />@uwlax.edu</span><br />

	<br><img src="/img/happy16.png" onclick="this.src='/img/call-me.jpg'"><br>

	<h3>Office Hours</h3>
	{% include syllabus-office-hours-2017-fall.html %}
	<!--	
	Physical Office hours: <days and times, locations if not your office>
	Virtual Office hours: <days and times, how to contact you (e.g., D2L, email, etc.; required for online-only courses, 
	optional for in-person and hybrid courses)
	-->

	<h3>Course Description</h3>

	<h4>Catalog Description</h4>
	Students in this course will individually and collaboratively pursue the question "What does it mean to be an educated person?" Consideration of this question will include exploration of the skills, habits of mind, and environments necessary for a lifetime of learning. Specifically, students will consider the college experience as an opportunity to become a more educated person, and the strategies and practices that will assist students in taking full advantage of a University of Wisconsin-La Crosse education. The course will focus on various elements of college success, including study skills, community building, and meaningful academic experiences. Offered Fall.	

	<!-- 
	<h4>Overview</h4>
	Enter a course overview if different from course catalog description
 	 -->
 
	<!--
	<h4>Prerequisites</h4>
  	-->
	
	<h4>Course Learning Outcomes</h4>

	By the end of this course, you will be able to:
	<ol>
		<li>Understand the purpose of a liberal education</li>
		<li>Identify factors that contribute to successful learning experiences</li>
		<li>Recognize different perspectives and disciplines as they are applied to solve problems, gain new experiences, or create new things</li>
		<li>Evaluate strategies for involvement and leadership in a campus community</li>
	</ol>
	This course credit counts in the  general education requirement Self and society: understanding oneself and the social world (GE 06). From the catalog: Each person, although unique, lives in a social world that exerts profound influence upon his or her attitudes, values, and behavior. It is important to gain a sound understanding of oneself in relation to others and an understanding of the social institutions that people create and which serve to influence our lives. Courses in this area focus on the study of human behavior and social institutions.
	
	<!-- 
Course Learning Outcomes	Major/Minor Outcomes	General Education or external standards Outcomes (delete column if appropriate)
By the end of this course, you will be able to:	By the end of this course, you will be able to:	By the end of this course, you will be able to:
Objective/Outcome 1	Objective/Outcome 1	Objective/Outcome 1
Objective/Outcome 2	Objective/Outcome 2	Objective/Outcome 2
Objective/Outcome 3	Objective/Outcome 3	Objective/Outcome 3 -->

	<br><img src="/img/happy16.png" onclick="this.src='/img/find-x.jpg'"><br>

	
	<h4>Materials and Tools</h4>
	Textbook: L. L. Hazard, JP. Nadeau. <i>Foundations for Learning</i>, Pearson Publisher, 3rd Edition, 2012
  <!-- Note whether available from Textbook Rental or need to be purchased. -->
	This textbook will be available from Textbook Rental.
	
	<br><img src="/img/happy16.png" onclick="this.src='/img/book.jpg'"><br>

  
  <h4>General Education Program</h4>
	This course credit (in UWL 100) counts in the  general education requirement Self and society: understanding oneself and the social world (GE 06). From the catalog: Each person, although unique, lives in a social world that exerts profound influence upon his or her attitudes, values, and behavior. It is important to gain a sound understanding of oneself in relation to others and an understanding of the social institutions that people create and which serve to influence our lives. Courses in this area focus on the study of human behavior and social institutions.
	
	<h4>Format</h4>
	This is a face-to-face course. You may be asked to reference materials or participate online through the learning 
	management system, Desire2Learn (D2L). If that is the case, you will need your UWL NetID to login to the course from 
	the <a href="http://www.uwlax.edu/d2l/">D2L homepage</a>.

	<h3>Grading Policies</h3>
	Your overall course grade is determined by the following components, with the weights given:

	<ul>

	<li></li>
	</ul>
		
	<br><img src="/img/happy16.png" onclick="this.src='/img/turn-in-all-the-things.jpg'"><br>

	<h4>Late Assignments, Missed Exams</h4>
	Assignments are due on the dates indicated in the Course Schedule. For extenuating circumstances that impact your ability 
	to meet deadlines or participate in class activities, you are responsible for alerting me as soon as possible. 

	<!-- [explain how students should notify you if they are, e.g., ill on an exam day, and, as required by the Faculty Senate 
	Syllabus Policy, your policy on missed course work, including exams or other graded in-class work] -->

	If a situation should arise (e.g., ill on an exam day), please notify me by e-mail as soon as possible:
	a determination of alternate arrangements will be made on a case-by-case basis, but the instructor has the final determination
	for what absences are eligible, which is why it is important to alert the instructor as soon as you know of an absence
	which would affect an assignment deadline or test date.

	<br><img src="/img/happy16.png" onclick="this.src='/img/late-work.jpg'"><br>


	<h4>Attendance and Participation</h4>
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	If you grade class participation, indicate how participation differs from attendance and include participation in the grade calculation.AAAAAAAAAAAAAAAAA
		
	There are no points in the course grading policies assigned to attendance or participation. Though attendance and 
	participation do not have a direct effect on your grade, attendance and participation are required for success with 
	homeworks, quizzes, and exams. I strongly recommend that you attend and participate every class session! If you have 
	any extenuating circumstance that may prevent full attendance or participation, please let me know as soon as possible.

	<br><img src="/img/happy16.png" onclick="this.src='/img/attendance.jpg'"><br>
	
	
	<h3>Expectations for Graded Work</h3>
	<div>I provide students feedback and/or scores on assignments that require individualized grading.  Generally, I return 
		work that requires individual feedback within 21 days from the date the work was due. I will notify you if I am 
		unable to grade the work within the 21-day timeframe, and will identify a revised return date. If you submit work 
		after the due date, it may not be accepted for credit, and it may not be returned within 21 days.</div><br>
 
	<div>The grades for any work that is graded electronically, such as scanned examinations, will be accessible to you within 
		14 days of the due date for the work. If you submit electronically graded work after the due date, it will not be 
		accepted for credit except under extreme circumstances determined by the instructor.</div><br>
 
	<div>Your graded coursework will be returned in compliance with FERPA regulations, such as in class, during my office hours, 
		via the course management system through which only you will have access to your grades.</div><br>

	<br><img src="/img/happy16.png" onclick="this.src='/img/feedback.jpg'"><br>
	
	<h3>Grading Scale</h3>

	To be guaranteed a given grade, a student needs to obtain at least the following overall percentage:

	<table>
		<tr><td>Letter Grade</td><td>Minimum Percentage</td></tr>
		<tr><td>A</td><td>91%</td></tr>
		<tr><td>AB</td><td>88%</td></tr>
		<tr><td>B</td><td>82%</td></tr>
		<tr><td>BC</td><td>78%</td></tr>
		<tr><td>C</td><td>70%</td></tr>
		<tr><td>D</td><td>60%</td></tr>
	</table>

	<br><img src="/img/happy16.png" onclick="this.src='/img/youre-going-to-rock.jpg'"><br>

	<h2>Course Outline and Schedule</h2>
	Please note that the timing of activities and topics listed below may change.
	I will give you timely notice of any major changes in the syllabus through email, on D2L, in class, or some combination 
	of methods.

	<!-- 
Week	Dates	Topics/Unit	Course Resources/
Readings	Instructional Activities/Assignments	Due Dates	Linked to Learning Objective/s
1	Enter Date 	List topic/unit to be covered – add rows as needed	Books/Article links/video links/ multimedia links, readings, lectures, activities 	Activities/Discussion
	Date, Time, Assignment	Which  objectives match these instructional activities or assignments? -->
	Reflections (due weekly on )
	NameAAAAAAA (occur in class)
	
	
	<br><img src="/img/happy16.png" onclick="this.src='/img/class-calendar.jpg'"><br>

	<h2>FastTrack Hybrid Program</h2>
	The FastTrack hybrid program is connected to UWL 100 program. 
	Students in the FastTrack hybrid program must be enrolled in both MTH 150 and in a section of UWL 100.
	Withdrawing from either class will cause an administrative withdrawal in the other class.	
	
	<hr>
	
	{% include syllabus-uwl-policies.html %}
		
</div>
