---
layout: plain
title: MTH 150-04 (Fall 2017) Syllabus
---

<div class="well">

	<!-- https://github.com/davidshimjs/qrcodejs -->
	<script type="text/javascript" src="/qrcode.js"></script>

	<div id="qrcode"></div>
	<script type="text/javascript">
	var qrcode = new QRCode(document.getElementById("qrcode"), {
	text: window.location.href,
	width: 128,
	height: 128,
	colorDark : "#000000",
	colorLight : "#ffffff",
	correctLevel : QRCode.CorrectLevel.H
	});
	</script>
	<!-- 
	<div id="qrcode"></div>
	<script type="text/javascript">
	new QRCode(document.getElementById("qrcode"), window.location.href);
	</script> -->

	<h2>MTH 150-04 (Fall 2017) Syllabus</h2>
	College Algebra, Hybrid FastTrack Cohort (4 credits)
	<table border="1" cellpadding="14" cellspacing="0">
		<tr><td>Section</td><td>Class number</td><td>Days / Times / Location</td></tr>
		<tr><td>150-01</td><td>2195</td><td> MoTuWeTh 7:45a-8:40a, Centennial 3215</td></tr><!-- Online only -->
		<tr><td>150-04</td><td>2198</td><td> MoTuWeTh 8:50a-9:45a, Centennial 3215</td></tr><!-- Hybrid -->
	</table>
		
	<h3>Instructor Information</h3>
	Instructor: Dr. Edward D. Kim<br />
	Office: 1018 Cowley Hall<br />
	Phone: 608-785-6613<br />
	Email:  <span class="emailspan"><img src="/shh/a42659826.gif" alt="-" class="email" /><img src="/shh/a71093256.gif" alt="-" class="email" /><img src="/shh/a1208752339807.gif" alt="-" class="email" /><img src="/shh/a1092352398.gif" alt="-" class="email" />@uwlax.edu</span><br />

	<h3>Office Hours</h3>
	{% include syllabus-office-hours-2017-fall.html %}
	<!--	
	Physical Office hours: <days and times, locations if not your office>
	Virtual Office hours: <days and times, how to contact you (e.g., D2L, email, etc.; required for online-only courses, 
	optional for in-person and hybrid courses)
	-->

	<h3>Course Description</h3>

	<h4>Catalog Description</h4>
	A college algebra course on the properties, graphs, and applications of elementary functions. Topics include the real and complex numbers, concepts from analytic geometry, solutions to equations and inequalities, the elementary algebraic functions, and the logarithmic and exponential functions. Prerequisite: MTH 051 or two years of high school algebra and an appropriate placement test score. (Successful completion of MTH 151, MTH 175, or MTH 207 precludes taking MTH 150 for credit.) Offered Fall, Spring, Summer.
	
	<!-- 
	<h4>Overview</h4>
	Enter a course overview if different from course catalog description
 	 -->
 
	<h4>Prerequisites</h4>
	<!-- [enter prerequisites here or state none]-->
	MTH 051 or two years of high school algebra and an appropriate placement test score.
  
	<h4>Course Learning Outcomes</h4>
	<!-- 15 objectives self-written  -->
	Students will develop an understanding of and appreciation for the theory and applications of algebra. Specifically, by the end of this course, you will be able to:
	<ul>
  <li>simplify and rewrite expressions involving fractions, decimals, exponents, radicals, and logarithms using algebraic identities</li>
  <li>translate applied problems into algebraic equations and interpret the solution in context</li>
  <li>solve equations and inequalities involving absolute values, polynomials, fractions, decimals, exponents, radicals, and logarithms</li>
  <li>complete the square on \(ax^2+bx+c=0\) to obtain the Quadratic Formula</li>
  <li>understand the concepts of functions, including input, output, domain, range, operations, compositions, and inverses</li>
  <li>apply the connection between a function and its graph to answer questions about intercepts and zeroes</li>
  <li>construct the graphs of standard functions (linear, quadratic, square root, exponential, logarithm, absolute value, etc.) and apply graph transformations</li>
  <li>find roots of a polynomial using standard techniques such as polynomial long division</li>
  <li>explain the relationship between functions and their inverses, especially in the context of logarithms</li>
	</ul>
<!-- 
Course Learning Outcomes	Major/Minor Outcomes	General Education or external standards Outcomes (delete column if appropriate)
By the end of this course, you will be able to:	By the end of this course, you will be able to:	By the end of this course, you will be able to:
Objective/Outcome 1	Objective/Outcome 1	Objective/Outcome 1
Objective/Outcome 2	Objective/Outcome 2	Objective/Outcome 2
Objective/Outcome 3	Objective/Outcome 3	Objective/Outcome 3 -->
	
	<h4>Materials and Tools</h4>
	Textbook: J. Stewart, L. Redlin, S. Watson. <i>Algebra and Trigonometry</i>. 4th Edition. Cengage Learning. Boston.
  <!-- Note whether available from Textbook Rental or need to be purchased. -->
	This textbook will be available from Textbook Rental.
  
  <h4>General Education Program</h4>
  MTH 150 is a course in the `Mathematics' list of <a href="http://catalog.uwlax.edu/undergraduate/generaleducation/#generaleducationrequirementstext">GE 02</a>.
	
	<h4>Format</h4>
	This is a face-to-face course. You may be asked to reference materials or participate online through the learning 
	management system, Desire2Learn (D2L). If that is the case, you will need your UWL NetID to login to the course from 
	the <a href="http://www.uwlax.edu/d2l/">D2L homepage</a>.

	<h2>Grading Policies</h2>
	Calculations [modify as needed to describe how you calculate grades]
	Your overall grade consists of the following assessments, arranged by type and value.
	Assignment	Points (per assignment)	#	Total % Final Grade<br>
	Item	Points each/Points total		%<br>
	Item	Points each/Points total		%<br>
	Item	Points each/Points total		%<br>
	Item	Points each/Points total		%<br>
	Item	Points each/Points total		%<br>
	Total Value		100%<br>

	<h3>Late Assignments, Missed Exams</h3>
	Assignments are due on the dates indicated in the Course Schedule. For extenuating circumstances that impact your ability 
	to meet deadlines or participate in class activities, you are responsible for alerting me as soon as possible. 

	[explain how students should notify you if they are, e.g., ill on an exam day, and, as required by the Faculty Senate 
	Syllabus Policy, your policy on missed course work, including exams or other graded in-class work]

	<h3>Attendance and Participation</h3>
	There are no points in the course grading policies assigned to attendance or participation. Though attendance and 
	participation do not have a direct effect on your grade, attendance and participation are required for success with 
	homeworks, quizzes, and exams. I strongly recommend that you attend and participate every class session! If you have 
	any extenuating circumstance that may prevent full attendance or participation, please let me know as soon as possible.

	<h3>Expectations for Graded Work</h3>
	<div>I provide students feedback and/or scores on assignments that require individualized grading.  Generally, I return 
		work that requires individual feedback within 21 days from the date the work was due. I will notify you if I am 
		unable to grade the work within the 21-day timeframe, and will identify a revised return date. If you submit work 
		after the due date, it may not be accepted for credit, and it may not be returned within 21 days.</div>
 
	<div>The grades for any work that is graded electronically, such as scanned examinations, will be accessible to you within 
		14 days of the due date for the work. If you submit electronically graded work after the due date, it will not be 
		accepted for credit except under extreme circumstances determined by the instructor.</div>
 
	<div>Your graded coursework will be returned in compliance with FERPA regulations, such as in class, during my office hours, 
		via the course management system through which only you will have access to your grades, or using Gradescope.
		Assignments will be returned as soon as possible but due to the nature of mathematics assignments (especially where 
		a consecutive assignment can be started prior to the previous assignment being due), it is not possible to return 
		work prior to a similar assignment being due, but you should generally have returned work with feedback within the 
		subsequent assignment being due.</div>

	<h3>Grading Scale</h3>

	To be guaranteed a given grade, a student needs to obtain at least the following overall percentage:

	<table border="1" cellpadding="4" cellspacing="0">
		<tr><td>Letter Grade</td><td>Minimum Percentage</td></tr>
		<tr><td>A</td><td>91%</td></tr>
		<tr><td>AB</td><td>88%</td></tr>
		<tr><td>B</td><td>82%</td></tr>
		<tr><td>BC</td><td>78%</td></tr>
		<tr><td>C</td><td>70%</td></tr>
		<tr><td>D</td><td>60%</td></tr>
	</table>

	<h2>Course Outline and Schedule</h2>
	Please note that the timing of activities and topics listed below may change.
	I will give you timely notice of any major changes in the syllabus through email, on D2L, in class, or some combination 
	of methods.

Week	Dates	Topics/Unit	Course Resources/
Readings	Instructional Activities/Assignments	Due Dates	Linked to Learning Objective/s
1	Enter Date 	List topic/unit to be covered – add rows as needed	Books/Article links/video links/ multimedia links, readings, lectures, activities 	Activities/Discussion
	Date, Time, Assignment	Which  objectives match these instructional activities or assignments?

	<h2>Homework</h2>
	Assigned homework is found in the table below. Though these assignments are not collected, you should do as many as possible
	as practice problems. The first column shows the textbook section. The second column shows which WeBWorK assignments are 
	relevant for that section. The next column shows exercises assigned from the textbook. Exercises marked with an asterisk (*) 
	are the <b>only</b> problems for which you should use a calculator or computer. 
	(For problems without an asterisk, use of technology only to <b>check</b> answers is suggested.) 
	Though textbook exercises are not collected or graded, to encourage you to do the book problems, 
	<b>each exam will contain at least one problem from the list of problems in the table below</b>.

	After content is covered in class, relevant WeBWorK assignment(s) are officially due about a half-week later. 
	The gap is meant to give you time to absorb the material and visit office hours. If you are always completing 
	assignments on the due date, you are always behind in material in the class! To succeed in this class, you should 
	regularly complete assignments immediately after the topic has been covered in class. Do not always complete 
	assignments at the last minute.
	
	<h3>Textbook exercises</h3>
	The column of the left shows the section number in the book.
	The middle column shows the corresponding WeBWorK assignment(s).
	The column on the right shows the textbook exercises to do for the section.
<table>
<tr><td>Section</td><td>WeBWorK</td><td>Exercises</td></tr>

<tr><td>P.1</td><td></td><td>We will return to exercises for P.1 after P.9</td></tr>
<tr><td>P.2</td><td></td><td>9-28 all</td></tr>
<tr><td>P.3</td><td></td><td>1-7 odd, 11-33 odd</td></tr>
<tr><td>P.4</td><td></td><td>1, 3, 5, 9-89 odd</td></tr>
<tr><td>P.5</td><td></td><td> 9-85 odd</td></tr>
<tr><td>P.6</td><td></td><td>7-97 odd; Do at least five of 99-113 odd</td></tr>
<tr><td>P.7</td><td></td><td>15-71 odd, 85-95 odd</td></tr>
<tr><td>P.8</td><td></td><td>7-14 all, 15-77 odd, 87-100 all</td></tr>
<tr><td>P.9</td><td></td><td>7-67 odd</td></tr>

<tr><td>1.1</td><td></td><td>1-8 all, 9-29 odd, 35-39 all, 43-49 all </td></tr>
<tr><td>1.2</td><td></td><td>9-14 all, 15-39 odd, 47-59 odd; After session 23, do 67-94 odd</td></tr>
<tr><td>1.3</td><td></td><td>9, 11, 17, 19-49 odd, 73-77 odd</td></tr>
<tr><td>1.4</td><td></td><td>5-45 odd, 51-55 odd</td></tr>
<tr><td>1.5</td><td></td><td>7-35 odd, 49-58 all, 61-71 odd</td></tr>
<tr><td>1.6</td><td></td><td>5-65 odd, 72, 73</td></tr>
<tr><td>1.7</td><td></td><td>11-31 all; After we visit Section 3.2, do 33-53 odd</td></tr>
<tr><td>1.8</td><td></td><td>5-45 odd</td></tr>

<tr><td>2.1</td><td></td><td>1, 2, 3, 4, 7-14 all, 17-37 odd, 51-71 odd</td></tr>
<tr><td>2.2</td><td></td><td>1, 2, 3, 4, 5-27 odd, 33-45 odd</td></tr>
<tr><td>2.5</td><td></td><td>7-35 odd</td></tr> % Covered indirectly
<tr><td>2.6</td><td></td><td>1-6 all, 7-73 odd</td></tr>
<tr><td>2.7</td><td></td><td>7-61 odd, 75, 76</td></tr>
<tr><td>2.8</td><td></td><td>1, 4, 5, 6, 7-12 all, 13-59 odd</td></tr>

<tr><td>3.1</td><td></td><td>9-33 odd</td></tr> <!-- % section at home -->
<tr><td>3.2</td><td></td><td>5-39 odd</td></tr>
<tr><td>3.3</td><td></td><td>3-7 odd, 15-23 odd</td></tr>
<tr><td>3.4</td><td></td><td>1, 2</td></tr> <!-- % light -->
<tr><td>3.5</td><td></td><td>1, 3</td></tr> <!-- % light -->
<tr><td>3.6</td><td></td><td>1-6 all, 21-25 odd, 31-41 odd, 43-61 odd, 63-67 odd\\\hline\hline <!-- % really spending two, not one day -->

<tr><td>4.1</td><td></td><td>1, 2, 3, 7-39 odd</td></tr>
<tr><td>4.2</td><td></td><td>7-15 odd, 23-39 odd</td></tr>
<tr><td>4.3</td><td></td><td>1-8 all, 9-43 odd, 49-27 odd, 59, 60</td></tr>
<tr><td>4.4</td><td></td><td>1-8 all, 9-65 odd</td></tr>
<tr><td>4.5</td><td></td><td>1, 2, 3-9 odd, 11-37 odd (part a only), 39-67 odd</td></tr>
</table>
	
	<h2>FastTrack Hybrid Section</h2>
	This FastTrack section of MTH 150 (Section 04) is connected to the UWL 100 program. 
	Students must be enrolled in both MTH 150 and in a section of UWL 100. Withdrawing from either 
	class will cause an administrative withdrawal in the other class.	

	<hr>
	
	{% include syllabus-uwl-policies.html %}
		
</div>
