---
layout: plain
title: MTH 150 (Summer 2018) Syllabus
---

<div class="well">

	<!-- https://github.com/davidshimjs/qrcodejs -->
	<script type="text/javascript" src="/qrcode.js"></script>

	<div id="qrcode"></div>
	<script type="text/javascript">
	var qrcode = new QRCode(document.getElementById("qrcode"), {
	text: window.location.href,
	width: 128,
	height: 128,
	colorDark : "#000000",
	colorLight : "#ffffff",
	correctLevel : QRCode.CorrectLevel.H
	});
	</script>
	<!-- 
	<div id="qrcode"></div>
	<script type="text/javascript">
	new QRCode(document.getElementById("qrcode"), window.location.href);
	</script> -->

	<h2>MTH 150 (Summer 2018) Syllabus</h2>
	College Algebra (4 credits)<br>
	University of Wisconsin-La Crosse
	<table>
		<tr><td>Section</td><td>Class number</td><td>Days / Times / Location</td></tr>
		<tr><td>150-101</td><td>1128</td><td> MoTuWeTh 9:45a-11:25a, Centennial 3311, 05/21/2018 - 07/13/2018</td></tr>
	</table>
	
	<br><img src="/img/happy16.png" onclick="this.src='/img/welcome-team.jpg'"><br>

	<h3>Instructor Information</h3>
	Instructor: Dr. Edward D. Kim<br />
	Office: 1018 Cowley Hall<br />
	Phone: 608-785-6613<br />
	Email:  <span class="emailspan"><img src="/shh/a42659826.gif" alt="-" class="email" /><img src="/shh/a71093256.gif" alt="-" class="email" /><img src="/shh/a1208752339807.gif" alt="-" class="email" /><img src="/shh/a1092352398.gif" alt="-" class="email" />@uwlax.edu</span><br />

	<br><img src="/img/happy16.png" onclick="this.src='/img/call-me.jpg'"><br>

	<h3>Office Hours</h3>
<table>
  <tr><td>Day of week</td><td>Time</td><td>Location</td>
  <tr><td>Mondays</td><td>1:30pm-2:30pm</td><td>My office (1018 Cowley)</td>
  <tr><td>Tuesdays</td><td>8:30am-9:30am</td><td>My office (1018 Cowley)</td>
  <tr><td>Wednesdays</td><td>1:30pm-2:30pm</td><td>My office (1018 Cowley)</td>
  <tr><td>Thursdays</td><td>8:30am-9:30am</td><td>My office (1018 Cowley)</td>
</table>
<br>

<b>Using office hours.</b> If you are stuck on anything, please visit office hours!
These are times that my door is open for all students in my math classes to get help and get questions answered.
I intentionally pick different times on Mondays vs. Wednesdays, and different times on Tuesdays vs. Thursdays in order to try to
increase my availability to students. (If you had a class on Tuesdays and Thursdays at the same time, this increases the chances
that if one time doesn't work, the other time will hopefully work.)<br><br>

To make use of any of the times listed above, I encourage you to show up without an appointment.
The times listed are "open hours" so there is no need to let me know in advance that you are dropping by.
If these times do not work for you, or if you need to discuss a private matter, please e-mail me about setting up a
one-on-one office hour by appointment. (To ensure that the above "open hours" are available to all, I cannot set up an appointment
during the times listed above.)<br><br>

If someone has arrived for office hours before you, please make yourself at home! Do not hide in the hallway, especially out of view.
I will work hard to rotate through so that everyone has a fair chance at getting their questions answered. In addition, by listening
to what other people struggle with, you may end up wanting to hear the answer to another question anyway!

<br><img src="/img/happy16.png" onclick="this.src='/img/office-hours.jpg'"><br>
	<h3>Course Description</h3>

	<h4>Catalog Description</h4>
	A college algebra course on the properties, graphs, and applications of elementary functions. Topics include the real and complex numbers, concepts from analytic geometry, solutions to equations and inequalities, the elementary algebraic functions, and the logarithmic and exponential functions. Prerequisite: MTH 051 or two years of high school algebra and an appropriate placement test score. (Successful completion of MTH 151, MTH 175, or MTH 207 precludes taking MTH 150 for credit.) Offered Fall, Spring, Summer.
	
	<!-- 
	<h4>Overview</h4>
	Enter a course overview if different from course catalog description
 	 -->
 
	<h4>Prerequisites</h4>
	<!-- [enter prerequisites here or state none]-->
	MTH 051 or two years of high school algebra and an appropriate placement test score.
  
	<h4>Course Learning Outcomes</h4>
	<!-- 15 objectives self-written  -->
	Students will develop an understanding of and appreciation for the theory and applications of algebra. Specifically, by the end of this course, you will be able to:
	<ul>
  <li>simplify and rewrite expressions involving fractions, decimals, exponents, radicals, and logarithms using algebraic identities</li>
  <li>translate applied problems into algebraic equations and interpret the solution in context</li>
  <li>solve equations and inequalities involving absolute values, polynomials, fractions, decimals, exponents, radicals, and logarithms</li>
  <li>complete the square on \(ax^2+bx+c=0\) to obtain the Quadratic Formula</li>
  <li>understand the concepts of functions, including input, output, domain, range, operations, compositions, and inverses</li>
  <li>apply the connection between a function and its graph to answer questions about intercepts and zeroes</li>
  <li>construct the graphs of standard functions (linear, quadratic, square root, exponential, logarithm, absolute value, etc.) and apply graph transformations</li>
  <li>find roots of a polynomial using standard techniques such as polynomial long division</li>
  <li>explain the relationship between functions and their inverses, especially in the context of logarithms</li>
	</ul>
<!-- 
Course Learning Outcomes	Major/Minor Outcomes	General Education or external standards Outcomes (delete column if appropriate)
By the end of this course, you will be able to:	By the end of this course, you will be able to:	By the end of this course, you will be able to:
Objective/Outcome 1	Objective/Outcome 1	Objective/Outcome 1
Objective/Outcome 2	Objective/Outcome 2	Objective/Outcome 2
Objective/Outcome 3	Objective/Outcome 3	Objective/Outcome 3 -->

	<br><img src="/img/happy16.png" onclick="this.src='/img/find-x.jpg'"><br>

	
	<h4>Materials and Tools</h4>
	Textbook: J. Stewart, L. Redlin, S. Watson. <i>Algebra and Trigonometry</i>. 4th Edition. Cengage Learning. Boston.
  <!-- Note whether available from Textbook Rental or need to be purchased. -->
	This textbook will be available from Textbook Rental.
	
	<br><img src="/img/happy16.png" onclick="this.src='/img/book.jpg'"><br>

  
  <h4>General Education Program</h4>
  MTH 150 is a course in the `Mathematics' list of <a href="http://catalog.uwlax.edu/undergraduate/generaleducation/#generaleducationrequirementstext">GE 02</a>.
	
	<h4>Format</h4>
	This is a face-to-face course. You may be asked to reference materials or participate online through the learning 
	management system, Desire2Learn (D2L). If that is the case, you will need your UWL NetID to login to the course from 
	the <a href="http://www.uwlax.edu/d2l/">D2L homepage</a>.

	<h3>Grading Policies</h3>
	Your overall course grade is determined by the following components, with the weights given:

	<ul>

	<li>WeBWorK: 17% of your grade. WeBWorK is an online homework system. Log in to
		<a href="https://webwork2.uwlax.edu/webwork2/MTH150-Kim/">WeBWorK</a>
		with both your username and initial password being the part before the at-sign in your uwlax e-mail address.
		<b>This system is not connected to other password databases on campus: therefore your password is not
		what you use elsewhere on campus, unless you should choose to change it so that they're synced.</b>
		The 'E-mail instructor' button is <b>only</b> for technical errors in WeBWorK:
		mathematical concerns should be discussed in office hours.
		E-mail is not a good format for discussing mathematics, so visit office hours instead!</li>

	<li>Quizzes: 18% of your grade. There are 12 in-class quizzes which will take place in the last 10 minutes of 
		class on most Tuesdays and Thursdays as shown in the class calendar. 
		A quiz will not require any mateiral from the day the quiz is administered, nor require anything from the previous class day. 
		For example, the quiz on May 24 does not use material from May 24 or May 23. If you understand everything we do in class up to May 22, then you are ready to take Quiz 01.
		Similarly, if you understand everything in class up through the end of May 24, then you are good to go for Quiz 02 on May 29.
		The lowest 2 quizzes will be dropped. 
		There are no make-up quizzes, 
		except in extreme circumstances determined by the instructor.</li>

	<li>In-class exams: 40% of your grade. Other than the final, there are four in-class exams of 100 minutes, 
		each of equal weight (20% each).
		<ul>
		<li>Exam 1 (on Thr June 7) covers material from May 21 through the end of class on June 5.</li>
		<li>Exam 2 (on Thr June 28) covers material from May 21 through the end of class on June 26, with emphasis on material after June 5.</li>
		</ul>
		While exams generally emphasize later material, mathematics is inherently cumulative so the <b>exams are cumulative too</b>.
		Exams must be taken on the scheduled day unless prior arrangements have been made for extreme circumstances.</li>

	<li>Final Exam: 25% of your grade. The final exam is comprehensive (covers all sections which we covered).
		The final exam takes place on the last day our class is scheduled: Thursday, July 12, 2018.
		The exam starts at 9:45am and is 100 minutes long.
		In accordance with the growth mindset policy of this class,
		if your percentage on the final is higher than your percentage on an in-class exam,
		the score for one of your in-class exams will be replaced with the final exam percentage.</li>
	</ul>
		
	Every quiz and every exam will have one or more conceptual question.
	Sample solutions are provided for the conceptual questions, but instead of just memorizing the solutions, 
	I urge you to <i>understand</i> the answer to each question!

	<br><img src="/img/happy16.png" onclick="this.src='/img/turn-in-all-the-things.jpg'"><br>

	<h4>Late Assignments, Missed Exams</h4>
	Assignments are due on the dates indicated in the Course Schedule. For extenuating circumstances that impact your ability 
	to meet deadlines or participate in class activities, you are responsible for alerting me as soon as possible. 

	<!-- [explain how students should notify you if they are, e.g., ill on an exam day, and, as required by the Faculty Senate 
	Syllabus Policy, your policy on missed course work, including exams or other graded in-class work] -->

	If a situation should arise (e.g., ill on an exam day), please notify me by e-mail as soon as possible:
	a determination of alternate arrangements will be made on a case-by-case basis, but the instructor has the final determination
	for what absences are eligible, which is why it is important to alert the instructor as soon as you know of an absence
	which would affect an assignment deadline or test date.

	<br><img src="/img/happy16.png" onclick="this.src='/img/late-work.jpg'"><br>


	<h4>Attendance and Participation</h4>
	There are no points in the course grading policies assigned to attendance or participation. Though attendance and 
	participation do not have a direct effect on your grade, attendance and participation are required for success with 
	homeworks, quizzes, and exams. I strongly recommend that you attend and participate every class session! If you have 
	any extenuating circumstance that may prevent full attendance or participation, please let me know as soon as possible.

	<br><img src="/img/happy16.png" onclick="this.src='/img/attendance.jpg'"><br>
	
	
	<h3>Expectations for Graded Work</h3>
	<div>I provide students feedback and/or scores on assignments that require individualized grading.  Generally, I return 
		work that requires individual feedback within 5 days from the date the work was due. I will notify you if I am 
		unable to grade the work within the 5-day timeframe, and will identify a revised return date. If you submit work 
		after the due date, it may not be accepted for credit, and it may not be returned within 5 days.</div><br>
 
	<div>The grades for any work that is graded electronically, such as scanned examinations, will be accessible to you within 
		5 days of the due date for the work. If you submit electronically graded work after the due date, it will not be 
		accepted for credit except under extreme circumstances determined by the instructor.</div><br>
 
	<div>Your graded coursework will be returned in compliance with FERPA regulations, such as in class, during my office hours, 
		via the course management system through which only you will have access to your grades, or using Gradescope.
		Assignments will be returned as soon as possible but due to the nature of mathematics assignments (especially where 
		a consecutive assignment can be started prior to the previous assignment being due), it is not possible to return 
		work prior to a similar assignment being due, but you should generally have returned work with feedback within the 
		subsequent assignment being due.</div><br>

	<br><img src="/img/happy16.png" onclick="this.src='/img/feedback.jpg'"><br>
	
	<h3>Grading Scale</h3>

	To be guaranteed a given grade, a student needs to obtain at least the following overall percentage:

	<table>
		<tr><td>Letter Grade</td><td>Minimum Percentage</td></tr>
		<tr><td>A</td><td>91%</td></tr>
		<tr><td>AB</td><td>88%</td></tr>
		<tr><td>B</td><td>82%</td></tr>
		<tr><td>BC</td><td>78%</td></tr>
		<tr><td>C</td><td>70%</td></tr>
		<tr><td>D</td><td>60%</td></tr>
	</table>

	<br><img src="/img/happy16.png" onclick="this.src='/img/youre-going-to-rock.jpg'"><br>

	<h2>Course Outline and Schedule</h2>
	Please note that the timing of activities and topics listed below may change.
	I will give you timely notice of any major changes in the syllabus through email, on D2L, in class, or some combination 
	of methods.

	<!-- 
Week	Dates	Topics/Unit	Course Resources/
Readings	Instructional Activities/Assignments	Due Dates	Linked to Learning Objective/s
1	Enter Date 	List topic/unit to be covered – add rows as needed	Books/Article links/video links/ multimedia links, readings, lectures, activities 	Activities/Discussion
	Date, Time, Assignment	Which  objectives match these instructional activities or assignments? -->

	<table>
	
		<tr>
			<td><b>Monday</b></td>
			<td><b>Tuesday</b></td>
			<td><b>Wednesday</b></td>
			<td><b>Thursday</b></td>
		</tr>
		
		<tr><!-- Week 1 -->
			<td><abbr title="Session 1">May 21</abbr><br>P.1/P.2: formulas</td>
			<td><abbr title="Session 2">May 22</abbr><br>P.1/P.2: formulas, fractions</td>
			<td><abbr title="Session 3">May 23</abbr><br>P.3: exps; P.4 roots</td>
			<td><abbr title="Session 4">May 24</abbr><br>P.5: alg. expr; P.6 factoring<br>Quiz 01</td>
		</tr>
	
		<tr><!-- Week 2 -->
			<td><abbr title="Holiday">May 28</abbr><br>Holiday</td>
			<td><abbr title="Session 5">May 29</abbr><br>P.7: rational expr<br>Quiz 02</td>
			<td><abbr title="Session 6">May 30</abbr><br>P.8/9: equations</td>
			<td><abbr title="Session 7">May 31</abbr><br>P.8/9: equations<br>Quiz 03</td>
		</tr>
	
		<tr><!-- Week 3 -->
			<td><abbr title="Session 8">Jun 4</abbr><br>P.8/9: equations<br></td>
			<td><abbr title="Session 9">Jun 5</abbr><br>1.1 coordinate; 1.2 graphs eqns<br>Quiz 04</td>
			<td><abbr title="Session 10">Jun 6</abbr><br>1.3: lines</td>
			<td><abbr title="Exam 1">Jun 7</abbr><br><b>EXAM 1</b></td>
		</tr>
	
		<tr><!-- Week 4 -->
			<td><abbr title="Session 11">Jun 11</abbr><br>1.4: quadratics</td>
			<td><abbr title="Session 12">Jun 12</abbr><br>1.4: quadratics, 1.2 circles<br>Quiz 05</td>
			<td><abbr title="Session 13">Jun 13</abbr><br>1.5: complex; 1.6 other eqns</td>
			<td><abbr title="Session 14">Jun 14</abbr><br>1.6: other eqns<br>Quiz 06</td>
		</tr>
	
		<tr><!-- Week 5 -->
			<td><abbr title="Session 15">Jun 18</abbr><br>1.7: inequalities<br></td>
			<td><abbr title="Session 16">Jun 19</abbr><br>1.8: abs val<br>Quiz 07</td>
			<td><abbr title="Session 17">Jun 20</abbr><br>2.1/2.2: functions</td>
			<td><abbr title="Session 18">Jun 21</abbr><br>2.1/2.2: functions<br>Quiz 08</td>
		</tr>
	
		<tr><!-- Week 6 -->
			<td><abbr title="Session 19">Jun 25</abbr><br>2.6: transformations</td>
			<td><abbr title="Session 20">Jun 26</abbr><br>2.7: operations on fns; one-to-one<br>Quiz 09</td>
			<td><abbr title="Session 21">Jun 27</abbr><br>2.8: one-to-one</td>
			<td><abbr title="Exam 2">Jun 28</abbr><br><b>EXAM 2</b></td>
		</tr>
	
		<tr><!-- Week 7 -->
			<td><abbr title="Session 22">Jul 2</abbr><br>3.1/2/3: polynomials, division</td>
			<td><abbr title="Session 23">Jul 3</abbr><br>3.6: rational functions<br>Quiz 10</td>
			<td><abbr title="Holiday">Jul 4</abbr><br>Holiday</td>
			<td><abbr title="Session 24">Jul 5</abbr><br>4.1/4.2: exponential fns<br>Quiz 11</td>
		</tr>
	
		<tr><!-- Week 8 -->
			<td><abbr title="Session 25">Jul 9</abbr><br>4.3/4.4: logarithms<br></td>
			<td><abbr title="Session 26">Jul 10</abbr><br>4.3/4.4: logarithms<br>Quiz 12</td>
			<td><abbr title="Session 27">Jul 11</abbr><br>4.5: exp/log eqns; review</td>
			<td><abbr title="Final exam">Jul 12</abbr><br><b>FINAL EXAM</b><br></td>
		</tr>
	
	</table>

	This calendar shows what we will tentatively cover in class each day.
	We will return to Section 1.2 to cover circles(*) once we have completed Section 1.4

	<br><img src="/img/happy16.png" onclick="this.src='/img/class-calendar.jpg'"><br>

	
	<h2>Homework</h2>
	Assigned homework is found in the table below. Though these assignments are not collected, you should do as many as possible
	as practice problems. The first column shows the textbook section. The second column shows which WeBWorK assignments are 
	relevant for that section. The next column shows exercises assigned from the textbook. Exercises marked with an asterisk (*) 
	are the <b>only</b> problems for which you should use a calculator or computer. 
	(For problems without an asterisk, use of technology only to <b>check</b> answers is suggested.) 
	Though textbook exercises are not collected or graded, to encourage you to do the book problems, 
	<b>each exam will contain at least one problem from the list of problems in the table below</b>.

	After content is covered in class, relevant WeBWorK assignment(s) are officially due about a half-week later. 
	The gap is meant to give you time to absorb the material and visit office hours. If you are always completing 
	assignments on the due date, you are always behind in material in the class! To succeed in this class, you should 
	regularly complete assignments immediately after the topic has been covered in class. Do not always complete 
	assignments at the last minute.
	
	<h3>Textbook exercises</h3>
	The column of the left shows the section number in the book.
	The column on the right shows the textbook exercises to do for the section.
<table>
<tr><td>Section</td><td></td><td>Exercises</td></tr>

<tr><td>P.1</td><td></td><td>We will return to exercises for P.1 after P.9</td></tr>
<tr><td>P.2</td><td></td><td>9-28 all</td></tr>
<tr><td>P.3</td><td></td><td>1-7 odd, 11-33 odd</td></tr>
<tr><td>P.4</td><td></td><td>1, 3, 5, 9-89 odd</td></tr>
<tr><td>P.5</td><td></td><td> 9-85 odd</td></tr>
<tr><td>P.6</td><td></td><td>7-97 odd; Do at least five of 99-113 odd</td></tr>
<tr><td>P.7</td><td></td><td>15-71 odd, 85-95 odd</td></tr>
<tr><td>P.8</td><td></td><td>7-14 all, 15-77 odd, 87-100 all</td></tr>
<tr><td>P.9</td><td></td><td>7-67 odd</td></tr>

<tr><td>1.1</td><td></td><td>1-8 all, 9-29 odd, 35-39 all, 43-49 all </td></tr>
<tr><td>1.2</td><td></td><td>9-14 all, 15-39 odd, 47-59 odd; After session 23, do 67-94 odd</td></tr>
<tr><td>1.3</td><td></td><td>9, 11, 17, 19-49 odd, 73-77 odd</td></tr>
<tr><td>1.4</td><td></td><td>5-45 odd, 51-55 odd</td></tr>
<tr><td>1.5</td><td></td><td>7-35 odd, 49-58 all, 61-71 odd</td></tr>
<tr><td>1.6</td><td></td><td>5-65 odd, 72, 73</td></tr>
<tr><td>1.7</td><td></td><td>11-31 all; After we visit Section 3.2, do 33-53 odd</td></tr>
<tr><td>1.8</td><td></td><td>5-45 odd</td></tr>

<tr><td>2.1</td><td></td><td>1, 2, 3, 4, 7-14 all, 17-37 odd, 51-71 odd</td></tr>
<tr><td>2.2</td><td></td><td>1, 2, 3, 4, 5-27 odd, 33-45 odd</td></tr>
<tr><td>2.5</td><td></td><td>7-35 odd</td></tr> % Covered indirectly
<tr><td>2.6</td><td></td><td>1-6 all, 7-73 odd</td></tr>
<tr><td>2.7</td><td></td><td>7-61 odd, 75, 76</td></tr>
<tr><td>2.8</td><td></td><td>1, 4, 5, 6, 7-12 all, 13-59 odd</td></tr>

<tr><td>3.1</td><td></td><td>9-33 odd</td></tr> <!-- % section at home -->
<tr><td>3.2</td><td></td><td>5-39 odd</td></tr>
<tr><td>3.3</td><td></td><td>3-7 odd, 15-23 odd</td></tr>
<tr><td>3.4</td><td></td><td>1, 2</td></tr> <!-- % light -->
<tr><td>3.5</td><td></td><td>1, 3</td></tr> <!-- % light -->
<tr><td>3.6</td><td></td><td>1-6 all, 21-25 odd, 31-41 odd, 43-61 odd, 63-67 odd\\\hline\hline <!-- % really spending two, not one day -->

<tr><td>4.1</td><td></td><td>1, 2, 3, 7-39 odd</td></tr>
<tr><td>4.2</td><td></td><td>7-15 odd, 23-39 odd</td></tr>
<tr><td>4.3</td><td></td><td>1-8 all, 9-43 odd, 49-27 odd, 59, 60</td></tr>
<tr><td>4.4</td><td></td><td>1-8 all, 9-65 odd</td></tr>
<tr><td>4.5</td><td></td><td>1, 2, 3-9 odd, 11-37 odd (part a only), 39-67 odd</td></tr>
</table>

	<br><img src="/img/happy16.png" onclick="this.src='/img/do-homework.jpg'"><br>

	<h2>WeBWorK information</h2>
	
Access WebWorK at <a href="https://webwork2.uwlax.edu/webwork2/MTH150-Kim/">https://webwork2.uwlax.edu/webwork2/MTH150-Kim/</a>.
To log in, your username AND password are BOTH the same: they are the part of your uwlax e-mail address before the @ sign.
YOUR PASSWORD FOR WEBWORK IS NOT THE PASSWORD USED FOR D2L AND OTHER CAMPUS RESOURCES.
<br>
<br>
<!-- Since the material in ww00 is a \emph{review}, this long assignment should be completed as soon as possible! -->

	There is a gap between the suggested due date and the actual due date. The suggested due date is the first date that I think you should be able to complete the assignment. The extra days between the suggested due date and the actual due date are meant to give you time to absorb the material, ask me questions, and serves as a buffer.
<br><br>
	Each problem will be worth one point.

	<h3>Inputting mathematics into WeBWorK</h3>

Here's a table that shows how to input many of the typical mathematical formulas for our class. 
	A more complete list is available at <a href="http://webwork.maa.org/wiki/Available_Functions">http://webwork.maa.org/wiki/Available_Functions</a>.

<table>
	<tr><td>You want to say</td><td>Then type</td><td>Comments</td></tr>

<tr><td>\(\displaystyle x^2+1\)</td><td> <tt>x^2+1</tt></td><td> The symbol is the ``carat'': type shift then 6 </td></tr>
<tr><td>\(\displaystyle \sqrt{5}\)</td><td> <tt>sqrt(5)</tt></td><td>  </td></tr>
<tr><td>\(\displaystyle \sqrt[3]{5}\)</td><td> <tt>5^(1/3)</tt></td><td> Use the fact that \(\sqrt[3]{5} = 5^{\frac13}\) </td></tr>
<tr><td>\(\displaystyle (3,8]\)</td><td> <tt>(3,8]</tt></td><td> All numbers \(x\) such that \(3 < x \leq 8\) </td></tr>
<tr><td>\(\displaystyle [5,\infty)\)</td><td> <tt>[5,INF)</tt></td><td> All numbers \(x \geq 5\) </td></tr>
<tr><td>\(\displaystyle (-\infty,5)\)</td><td> <tt>(-INF,5)</tt></td><td> All numbers \(x < 5\) </td></tr>
<tr><td>\(\displaystyle (-\infty,5) \cup (5,\infty)\)</td><td> <tt>(-INF,5)U(5,INF)</tt></td><td> Use <tt>U</tt> for the union symbol \(\cup\) and note \((-\infty,5) \cup (5,\infty)\) denotes all real numbers except \(5\) </td></tr>
<tr><td>\(\displaystyle (-\infty,0) \cup (0,1) \cup (1,\infty)\)</td><td> <tt>(-INF,0)U(0,1)U(1,INF)</tt></td><td> All reals except \(0\) and \(1\) </td></tr>
<tr><td>\(\displaystyle |x+3|\)</td><td> <tt>abs(x+3)} or <tt>|x+3|</tt></td><td>  </td></tr>
<tr><td>\(\displaystyle \ln |x|\)</td><td> <tt>ln(abs(x))</tt></td><td>  </td></tr>
<tr><td>\(\displaystyle \ln\left(\frac{3x + x^{22}}{1+e^x} \right)\)</td><td> <tt>ln((3x+x^22)/(1+e^x))</tt></td><td> Parentheses are needed -- order of operations </td></tr>
<tr><td>\(\displaystyle \ln \left(\frac{\sqrt{3}}{2}\right)\)</td><td> <tt>ln(sqrt(3)/2)</tt></td><td></td></tr>
</table>
	
	Watch the video <a href="http://youtu.be/aEtypz8Wsbw">save time in WeBWorK</a>. Highlights of video:
<ul>
	<li><b>Using calculators wastes time:</b>
WeBWorK will accept notation similar to what you might type in a calculator. In general, it is faster to type directly into WeBWorK. Skip the step of typing something very similar into a calculator, only to have to copy the numerical output of the calculator into the WeBWorK.</li>
	<li><b>Use a text editor:</b> For complicated expressions with many parentheses or expressions with a lot of repetition, it is helpful to type in Notepad (on Windows) or TextEdit (on Mac) where you have access to copy-paste.</li>
	</ul>
	
	
	
<table>
<tr><td>Assignment #</td><td>Start (and complete if possible) on</td><td>Final due date in system</td></tr>
<tr><td>ww01</td><td>5/21/2018</td><td>05/23/2018 at 11:59pm</td></tr>
<tr><td>ww02</td><td>5/22/2018</td><td>05/24/2018 at 11:59pm</td></tr>
<tr><td>ww03</td><td>5/23/2018</td><td>05/29/2018 at 11:59pm</td></tr>
<tr><td>ww04</td><td>5/24/2018</td><td>05/30/2018 at 11:59pm</td></tr>
<tr><td>ww05</td><td>5/29/2018</td><td>05/31/2018 at 11:59pm</td></tr>
<tr><td>ww06</td><td>5/30/2018</td><td>06/04/2018 at 11:59pm</td></tr>
<tr><td>ww07</td><td>5/31/2018</td><td>06/05/2018 at 11:59pm</td></tr>
<tr><td>ww08</td><td>6/4/2018</td><td>06/06/2018 at 11:59pm</td></tr>
<tr><td>ww09</td><td>6/5/2018</td><td>06/11/2018 at 11:59pm</td></tr>
<tr><td>ww10</td><td>6/6/2018</td><td>06/12/2018 at 11:59pm</td></tr>
<tr><td>ww11</td><td>6/11/2018</td><td>06/13/2018 at 11:59pm</td></tr>
<tr><td>ww12</td><td>6/12/2018</td><td>06/14/2018 at 11:59pm</td></tr>
<tr><td>ww13</td><td>6/13/2018</td><td>06/18/2018 at 11:59pm</td></tr>
<tr><td>ww14</td><td>6/14/2018</td><td>06/19/2018 at 11:59pm</td></tr>
<tr><td>ww15</td><td>6/18/2018</td><td>06/20/2018 at 11:59pm</td></tr>
<tr><td>ww16</td><td>6/19/2018</td><td>06/21/2018 at 11:59pm</td></tr>
<tr><td>ww17</td><td>6/20/2018</td><td>06/25/2018 at 11:59pm</td></tr>
<tr><td>ww18</td><td>6/21/2018</td><td>06/26/2018 at 11:59pm</td></tr>
<tr><td>ww19</td><td>6/25/2018</td><td>06/27/2018 at 11:59pm</td></tr>
<tr><td>ww20</td><td>6/26/2018</td><td>07/02/2018 at 11:59pm</td></tr>
<tr><td>ww21</td><td>6/27/2018</td><td>07/03/2018 at 11:59pm</td></tr>
<tr><td>ww22</td><td>7/2/2018</td><td>07/05/2018 at 11:59pm</td></tr>
<tr><td>ww23</td><td>7/3/2018</td><td>07/09/2018 at 11:59pm</td></tr>
<tr><td>ww24</td><td>7/5/2018</td><td>07/10/2018 at 11:59pm</td></tr>
<tr><td>ww25</td><td>7/9/2018</td><td>07/11/2018 at 11:59pm</td></tr>	
	</table>

	<br><img src="/img/happy16.png" onclick="this.src='/img/webwork-cat.jpg'"><br>
	
	<h2>General expectations for math courses</h2>
	<ul>
		<li>Calculators are not allowed on quizzes or exams. We will talk about what a calculator-less answer to a quiz/exam question looks.</li>
		<li>There is no need to use calculators for WeBWorK: enter full expressions for exact values (doing this will save time)</li>
		<li>Use a text editor to "stage" the text you type in for WeBWorK.</li>
		<li>Do not do WeBWorK on the day it is due. To be up to date, you must do exercises each day. To be last minute, you'll end up doing exercises on WeBWorK each day. Either way, you have to do exercises each day, so you might as well be on time.</li>
	</ul>
	
	<h2>How to learn mathematics</h2>
	<ul>
		<li>As you do mathematics, work on explaining what you are doing in complete sentences. Avoid using the word "it".</li>
		<li>Be sure to read the book section before class and after class. Your before read should be quick. Your after read should be thorough.</li>
		<li>There is no replacement for your effort.</li>
		<li>Do not work on things last minute.</li>
		<li>Keep an honest and accurate log of your study time for class. Be sure to "clock out" when your mind wanders to something else (social media, etc.)</li>
		<li>Take thorough notes in class. If it's written on the board, be sure to have it written in your notebook.</li>
		<li>Review your notebook after every class. The best way to review your notebook is to write a new copy of everything you wrote in your original notebook. This gives you the chance to review, and if even notice when you don't fully understand something. If you notice that you don't fully understand something, drop by office hours and ask for clarification.</li>
		<li>Get help at the first sign of trouble: office hours are times reserved for you to get help. It is normal to use office hours!</li>
		<li>Be sure to read the book section to supplement the things we discuss in class.</li>
		<li>To succeed, you should do the textbook exercises.</li>
		<li>Each day's class is likely to rely on the previous day's material: it is not a good habit to wait to do homework until the day it is due (or the day before).</li>
		<li>Commit to learning something soon after it is discussed in class: then you earn points for it on a quiz, an exam, a later exam, and a final. If you learn it only later, you can only earn points for it later.</li>
		<li>It is not a secret to me that Google and Wolfram Alpha exist. If you use these resources, you remove the struggle for yourself and it will reflect in your quizzes and exams.</li>
		<li>Mathematics requires attention to detail, and use of precise mathematical notation and wording. These things are important to me as I assess your work, so please make them important to you.</li>
		<li>If you commit yourself to understanding each topic in time, then you don't really have to "study" for an exam. If you commit to only "halfway understanding" each topic, then you will need to spend an unnecesary amount of time before each exam "studying", but this cramming does not lead to in-depth knowledge or long-term recall.</li>
	</ul>
	
	<hr>
	
	{% include syllabus-my-math-policies.html %}
	{% include syllabus-uwl-policies.html %}
		
</div>
