---
layout: plain
title: MTH 175 (Spring 2019) Syllabus
---

<div class="well">

	<!-- https://github.com/davidshimjs/qrcodejs -->
	<script type="text/javascript" src="/qrcode.js"></script>

	<div id="qrcode"></div>
	<script type="text/javascript">
	var qrcode = new QRCode(document.getElementById("qrcode"), {
	text: window.location.href,
	width: 128,
	height: 128,
	colorDark : "#000000",
	colorLight : "#ffffff",
	correctLevel : QRCode.CorrectLevel.H
	});
	</script>
	<!-- 
	<div id="qrcode"></div>
	<script type="text/javascript">
	new QRCode(document.getElementById("qrcode"), window.location.href);
	</script> -->

	<h2>MTH 175 (Spring 2019) Syllabus</h2>
	Applied Calculus (4 credits)<br>
	University of Wisconsin-La Crosse
	<table>
		<tr><td>Section</td><td>Class number</td><td>Days / Times / Location</td></tr>
		<tr><td>175-01</td><td>1909</td><td> MoTuWeTh 7:45a-8:40a, Centennial 3211</td></tr>
	</table>
	
	<br><img src="/img/happy16.png" onclick="this.src='/img/welcome-team.jpg'"><br>

		
	<h3>Instructor Information</h3>
	Instructor: Dr. Edward D. Kim<br />
	Office: 1018 Cowley Hall<br />
	Phone: 608-785-6613<br />
	Email:  <span class="emailspan"><img src="/shh/a42659826.gif" alt="-" class="email" /><img src="/shh/a71093256.gif" alt="-" class="email" /><img src="/shh/a1208752339807.gif" alt="-" class="email" /><img src="/shh/a1092352398.gif" alt="-" class="email" />@uwlax.edu</span><br />

	<br><img src="/img/happy16.png" onclick="this.src='/img/call-me.jpg'"><br>

	<h3>Office Hours</h3>
	{% include syllabus-office-hours-2019-spring.html %}

	<h3>Course Description</h3>

	<h4>Catalog Description</h4>
	Basic concepts and methods from differential, integral, and multivariate calculus. Logarithmic and exponential functions are included, but not trigonometric functions. Emphasis of the course is on models and applications in business and the social, life, and physical sciences. Prerequisite: grade of "C" or better in MTH 150 or two years of high school algebra and appropriate placement test score. (Successful completion of MTH 175 precludes taking MTH 150. Successful completion of MTH 207 precludes taking MTH 175.) Offered Fall, Spring, Summer.


	<!-- 
	<h4>Overview</h4>
	Enter a course overview if different from course catalog description
 	 -->
 
	<h4>Prerequisites</h4>
	<!-- [enter prerequisites here or state none]-->
	Grade of "C" or better in MTH 150 or two years of high school algebra and appropriate placement test score. (Successful completion of MTH 175 precludes taking MTH 150. Successful completion of MTH 207 precludes taking MTH 175.)
	
	<h4>Course Learning Outcomes</h4>

	Students will develop an understanding of and appreciation for the theory and applications of calculus, especially with a focus on applications to business and economics. Specifically, the student will:
<ul>
	<li>Evaluate limits of a function or distinguish those cases in which the limit does not exist.</li>
<li>Solve business application problems involving finding the marginal of some function using differentiation.</li>
<li>Compute the tangent line to the graph of a function at a point.</li>
<li>Calculate the derivative of polynomial, rational, exponential, and logarithmic functions and apply this to cost/revenue/profit.</li>
<li>Find a derivative using the product, quotient, and chain rule and apply this in business contexts (e.g. revenue).</li>
<li>Understand the connection between marginal cost/revenue/profit and a derivative.</li>
<li>Use derivatives to determine the shape of a graph and draw conclusions for cost/revenue/profit.</li>
<li>Use derivatives to find minimum cost and maximum revenue/profit and find extreme values of a cost model on a closed interval</li>
<li>Compute the elasticity of demand at a given price</li>
<li>Evaluate definite and definite integrals using substitution</li>
<li>Apply integration to problems of area and consumer/producer surplus given supply and demand functions</li>
	</ul>	
	
	<br><img src="/img/happy16.png" onclick="this.src='/img/find-x.jpg'"><br>

	<h4>Materials and Tools</h4>
R. A. Barnett, M. R. Ziegler, K. E. Byleen.
	<i>Calculus for Business, Economics, Life Sciences, and Social Sciences</i>.
13th Edition.
Pearson.
  <!-- Note whether available from Textbook Rental or need to be purchased. -->
	This textbook will be available from Textbook Rental.
	
	<br><img src="/img/happy16.png" onclick="this.src='/img/book.jpg'"><br>

  <h4>General Education Program</h4>
  MTH 175 is a course in the `Mathematics' list of <a href="http://catalog.uwlax.edu/undergraduate/generaleducation/#generaleducationrequirementstext">GE 02</a>.

	<h4>Format</h4>
	This is a face-to-face course. You may be asked to reference materials or participate online through the learning 
	management system, Canvas. If that is the case, you will need your UWL NetID to login to the course from 
	the <a href="http://www.uwlax.edu/canvas/">Canvas homepage</a>.

	<h3>Grading Policies</h3>
	Your overall course grade is determined by the following components, with the weights given:

	<ul>

	<li>WeBWorK: 20% of your grade.  WeBWorK is an online homework system, accessed by visiting 
		<a href="https://webwork2.uwlax.edu/webwork2/MTH175-Kim/">https://webwork2.uwlax.edu/webwork2/MTH175-Kim/</a>
with both your username and initial password being the part before the at-sign in your uwlax e-mail address. 
		To succeed in this class, you should regularly complete assignments immediately after the topic has been
		covered in class. Do not always complete assignments at the last minute.
		The "E-mail instructor" button is <b>only</b> for technical errors in WeBWorK: 
		mathematical concerns should be discussed in office hours.
		<b>E-mail is not a good format for discussing mathematics, so visit office hours instead.</b></li>

	<li>Quizzes: 20% of your grade. There are 21 in-class quizzes which will take place in the last 5 minutes of class most Tuesdays and Thursdays as shown in the calendar (next page). A quiz will not cover material presented in the previous two class sessions: so a Thursday quiz may cover up to Monday's class. A Tuesday quiz may cover up to last week Wednesday's class.
         Starting with Quiz 03, material covered on a quiz does not include material from the previous three class days. So, Quiz 03 on February 7 may cover material up to January 31.
		Similarly, Quiz 04 on February 12 may cover up to material up through the end of class on February 5. (The only exception to this is Quiz 02, which has the same material cutoff as Quiz 03, namely, January 31.)
The lowest 3 quizzes will be dropped. There are no make-up quizzes, except in extreme circumstances determined by the instructor. The questions from the quizzes are based on the textbook exercises.
		
		Quiz 01 is a "get to know you" video that you will submit in Canvas. Quiz 02 and beyond are written in-class quizzes. AAA timing of quizzes
		</li>

	<li>In-class exams: 40% of your grade. Other than the final, there are four in-class exams of 55 minutes, 
		each of equal weight.
		<ul>
		<li>Exam 1 (on Thr Feb 21) covers material from Jan 28 through the end of class on Feb 14.</li>
		<li>Exam 2 (on Thr Mar 14) covers material from Jan 28 through the end of class on Mar 7, with emphasis on material after Feb 14.</li>
		<li>Exam 3 (on Thr Apr 4) covers material from Jan 28 through the end of class on Mar 28, with emphasis on material after Mar 7.</li>
		<li>Exam 4 (on Thr Apr 25) covers material from Jan 28 through the end of class on Apr 18, with emphasis on material after Mar 28.</li>
		</ul>
		While exams generally emphasize later material, mathematics is inherently cumulative so the <b>exams are cumulative too</b>.
		Exams must be taken on the scheduled day unless prior arrangements have been made for extreme circumstances.</li>

	<li>Final Exam: 20% of your grade. The final exam is comprehensive (covers all sections which we covered).
		In accordance with the 
		<a href="https://www.uwlax.edu/records/faculty-staff-resources/final-exam-schedule/#tab-spring-2019">final exam schedule</a>,
		the final exam is on Thursday, May 16, 2019.
		The exam starts at 2:30pm and is two hours long.
		In accordance with the growth mindset policy of this class,
		if your percentage on the final is higher than your percentage on an in-class exam,
		the score for one of your in-class exams will be replaced with the final exam percentage.</li>
	</ul>

	<br><img src="/img/happy16.png" onclick="this.src='/img/turn-in-all-the-things.jpg'"><br>

	<h4>Late Assignments, Missed Exams</h4>
	Assignments are due on the dates indicated in the Course Schedule. For extenuating circumstances that impact your ability 
	to meet deadlines or participate in class activities, you are responsible for alerting me as soon as possible. 

	<!-- [explain how students should notify you if they are, e.g., ill on an exam day, and, as required by the Faculty Senate 
	Syllabus Policy, your policy on missed course work, including exams or other graded in-class work] -->

	If a situation should arise (e.g., ill on an exam day), please notify me by e-mail as soon as possible:
	a determination of alternate arrangements will be made on a case-by-case basis, but the instructor has the final determination
	for what absences are eligible, which is why it is important to alert the instructor as soon as you know of an absence
	which would affect an assignment deadline or test date.

	<br><img src="/img/happy16.png" onclick="this.src='/img/late-work.jpg'"><br>

	<h4>Attendance and Participation</h4>
	There are no points in the course grading policies assigned to attendance or participation. Though attendance and 
	participation do not have a direct effect on your grade, attendance and participation are required for success with 
	homeworks, quizzes, and exams. I strongly recommend that you attend and participate every class session! If you have 
	any extenuating circumstance that may prevent full attendance or participation, please let me know as soon as possible.

	<br><img src="/img/happy16.png" onclick="this.src='/img/attendance.jpg'"><br>
	
	
	<h3>Expectations for Graded Work</h3>
	<div>I provide students feedback and/or scores on assignments that require individualized grading.  Generally, I return 
		work that requires individual feedback within 21 days from the date the work was due. I will notify you if I am 
		unable to grade the work within the 21-day timeframe, and will identify a revised return date. If you submit work 
		after the due date, it may not be accepted for credit, and it may not be returned within 21 days.</div><br>
 
	<div>The grades for any work that is graded electronically, such as scanned examinations, will be accessible to you within 
		14 days of the due date for the work. If you submit electronically graded work after the due date, it will not be 
		accepted for credit except under extreme circumstances determined by the instructor.</div><br>
 
	<div>Your graded coursework will be returned in compliance with FERPA regulations, such as in class, during my office hours, 
		via the course management system through which only you will have access to your grades, or using 
		.
		Assignments will be returned as soon as possible but due to the nature of mathematics assignments (especially where 
		a consecutive assignment can be started prior to the previous assignment being due), it is not possible to return 
		work prior to a similar assignment being due, but you should generally have returned work with feedback within the 
		subsequent assignment being due.</div><br>

	<br><img src="/img/happy16.png" onclick="this.src='/img/feedback.jpg'"><br>
	
	<h3>Grading Scale</h3>

	To be guaranteed a given grade, a student needs to obtain at least the following overall percentage:

	<table>
		<tr><td>Letter Grade</td><td>Minimum Percentage</td></tr>
		<tr><td>A</td><td>91%</td></tr>
		<tr><td>AB</td><td>88%</td></tr>
		<tr><td>B</td><td>82%</td></tr>
		<tr><td>BC</td><td>78%</td></tr>
		<tr><td>C</td><td>70%</td></tr>
		<tr><td>D</td><td>60%</td></tr>
	</table>

	<br><img src="/img/happy16.png" onclick="this.src='/img/youre-going-to-rock.jpg'"><br>

	<h2>Course Outline and Schedule</h2>
	Please note that the timing of activities and topics listed below may change.
	I will give you timely notice of any major changes in the syllabus through email, on Canvas, in class, or some combination 
	of methods.
	<b>The schedule shown below is modified due to weather-related cancellations. To see the original schedule, see the <a href="Edward D. Kim - MTH 175 (Spring 2019) Syllabus.pdf">original syllabus</a>.</b>
	<table>
	
		<tr>
			<td><b>Monday</b></td>
			<td><b>Tuesday</b></td>
			<td><b>Wednesday</b></td>
			<td><b>Thursday</b></td>
		</tr>
		
		<tr><!-- Week 1 -->
			<td><abbr title="Session 1">Jan 28</abbr><br><b>CANCELLED</b></td>
			<td><abbr title="Session 2">Jan 29</abbr><br>Intro</td>
			<td><abbr title="Session 3">Jan 30</abbr><br><b>CANCELLED</b></td>
			<td><abbr title="Session 4">Jan 31</abbr><br><b>CANCELLED</b></td>
		</tr>
	
		<tr><!-- Week 2 -->
			<td><abbr title="Session 5">Feb 4</abbr><br>2.1: limits<br>Quiz 01 due online</td>
			<td><abbr title="Session 6">Feb 5</abbr><br>2.1: limits</td>
			<td><abbr title="Session 7">Feb 6</abbr><br>2.1: limits</td>
			<td><abbr title="Session 8">Feb 7</abbr><br>2.2: infinite limits<br>Quiz 02</td>
		</tr>
	
		<tr><!-- Week 3 -->
			<td><abbr title="Session 9">Feb 11</abbr><br>2.3: continuity</td>
			<td><abbr title="Session 10">Feb 12</abbr><br>2.3: continuity<br>Quiz 03</td>
			<td><abbr title="Session 11">Feb 13</abbr><br>2.4: derivative</td>
			<td><abbr title="Session 12">Feb 14<abbr><br>2.4: derivative<br>Quiz 04</td>
		</tr>
	
		<tr><!-- Week 4 -->
			<td><abbr title="Session 13">Feb 18</abbr><br>2.5: deriv. properties</td>
			<td><abbr title="Session 14">Feb 19</abbr><br>2.5: deriv. properties<br>Quiz 05</td>
			<td><abbr title="Session 15">Feb 20</abbr><br>2.7: econ review</td>
			<td><abbr title="Exam day">Feb 21</abbr><br><b>EXAM 1</b></td>
		</tr>
	
		<tr><!-- Week 5 -->
			<td><abbr title="Session 16">Feb 25</abbr><br>2.7: marginal an</td>
			<td><abbr title="Session 17">Feb 26</abbr><br>3.1: interest<br>Quiz 06</td>
			<td><abbr title="Session 18">Feb 27</abbr><br>3.2: exp/log deriv</td>
			<td><abbr title="Session 19">Feb 28</abbr><br>3.2: exp/log deriv<br>Quiz07</td>
		</tr>
	
		<tr><!-- Week 6 -->
			<td><abbr title="Session 20">Mar 4</abbr><br>3.3: product rule</td>
			<td><abbr title="Session 21">Mar 5</abbr><br>3.3: quotient rule<br>Quiz 08</td>
			<td><abbr title="Session 22">Mar 6</abbr><br>3.4: Chain rule</td>
			<td><abbr title="Session 23">Mar 7</abbr><br>3.4: Chain rule<br>Quiz 09</td>
		</tr>
	
		<tr><!-- Week 7 -->
			<td><abbr title="Session 24">Mar 11</abbr><br>3.7: elasticity</td>
			<td><abbr title="Session 25">Mar 12</abbr><br>4.1: first deriv<br>Quiz 10</td>
			<td><abbr title="Session 26">Mar 13</abbr><br>4.1: first deriv</td>
			<td><abbr title="Exam day">Mar 14</abbr><br><b>EXAM 2</b></td>
		</tr>

		<tr>
			<td>Mar 18<br><i>Break</i></td>
			<td>Mar 19<br><i>Break</i></td>
			<td>Mar 20<br><i>Break</i></td>
			<td>Mar 21<br><i>Break</i></td>
		</tr>
		
		<tr><!-- Week 8 -->
			<td><abbr title="Session 27">Mar 25</abbr><br>4.2: second deriv</td>
			<td><abbr title="Session 28">Mar 26</abbr><br>4.2: second deriv<br>Quiz 11</td>
			<td><abbr title="Session 29">Mar 27</abbr><br>4.4: curve sketching</td>
			<td><abbr title="Session 30">Mar 28</abbr><br>4.4: curve sketching<br>Quiz 12</td>
		</tr>
	
		<tr><!-- Week 9 -->
			<td><abbr title="Session 31">Apr 1</abbr><br>4.5: abs max/min</td>
			<td><abbr title="Session 32">Apr 2</abbr><br>4.5: abs vs local<br>Quiz 13</td>
			<td><abbr title="Session 33">Apr 3</abbr><br>4.6: area, volume</td>
			<td><abbr title="Exam day">Apr 4</abbr><br><b>EXAM 3</b></td>
		</tr>
	
		<tr><!-- Week 10 -->
			<td><abbr title="Session 34">Apr 8</abbr><br>4.6: optimization</td>
			<td><abbr title="Session 35">Apr 9</abbr><br>4.6: optimization<br>Quiz 14</td>
			<td><abbr title="Session 36">Apr 10</abbr><br>4.6: optimization</td>
			<td><abbr title="Session 37">Apr 11</abbr><br>5.1: antider<br>Quiz 15</td>
		</tr>
	
		<tr><!-- Week 11 -->
			<td><abbr title="Session 38">Apr 15</abbr><br>5.1: antider</td>
			<td><abbr title="Session 39">Apr 16</abbr><br>5.2: substitution<br>Quiz 16</td>
			<td><abbr title="Session 40">Apr 17</abbr><br>5.2: substitution</td>
			<td><abbr title="Session 41">Apr 18</abbr><br>5.2: substitution<br>Quiz 17</td>
		</tr>
	
		<tr><!-- Week 12 -->
			<td><abbr title="Session 42">Apr 22</abbr><br>5.4: definite int</td>
			<td><abbr title="Session 43">Apr 23</abbr><br>5.4: definite int<br>Quiz 18</td>
			<td><abbr title="Session 44">Apr 24</abbr><br>5.5: FTC</td>
			<td><abbr title="Exam day">Apr 25</abbr><br><b>EXAM 4</b></td>
		</tr>
	
		<tr><!-- Week 13 -->
			<td><abbr title="Session 45">Apr 29</abbr><br>5.5: FTC</td>
			<td><abbr title="Session 46">Apr 30</abbr><br>6.1: area btw curves<br>Quiz 19</td>
			<td><abbr title="Session 47">May 1</abbr><br>6.1: area btw curves</td>
			<td><abbr title="Session 48">May 2</abbr><br>6.2: applications<br>Quiz 20</td>
		</tr>
	
		<tr><!-- Week 14 -->
			<td><abbr title="Session 49">May 6</abbr><br>6.2: applications</td>
			<td><abbr title="Session 50">May 7</abbr><br>7.1: several vars<br>Quiz 21</td>
			<td><abbr title="Session 51">May 8</abbr><br>7.2: partial diff</td>
			<td><abbr title="Session 52">May 9</abbr><br>7.2: partial diff</td>
		</tr>
	
		<!-- 
		<tr>
			<td><abbr title="Session number">Date</abbr><br>Section: Topic<br>Major deadline</td>
			<td><abbr title="Session number">Date</abbr><br>Section: Topic<br>Major deadline</td>
			<td><abbr title="Session number">Date</abbr><br>Section: Topic<br>Major deadline</td>
			<td><abbr title="Session number">Date</abbr><br>Section: Topic<br>Major deadline</td>
		</tr>
		  -->	
	</table>

	This calendar shows what we will tentatively cover in class each day.
	
	<br><img src="/img/happy16.png" onclick="this.src='/img/class-calendar.jpg'"><br>

	
	<h2>Homework</h2>
	This class will have collected and uncollected homework.
	<ul>
		<li>
	Collected homework is completed online (through WeBWorK). Once you complete a problem and have WeBWorK certify that with a horizontal green bar, you do not need to do anything further in that problem.
	There is no process of "submitting" a completed homework set: so, as soon as you see the green bar, you permanently have credit. (I will periodically transfer the scores from WeBWorK into Canvas.)
 	Some of the exercises may overlap with the uncollected exercises in the table below.
	There is a gap in time between when material is covered in class and when it is due in WeBWorK.
	The gap is meant to give you time to absorb the material and visit office hours. If you are always completing 
	assignments on the due date, you are always behind in material in the class! To succeed in this class, you should 
	regularly complete assignments immediately after the topic has been covered in class. Do not always complete 
	assignments at the last minute.
			
	Several policies/guidelines/expectations:
		<ul>
			<li>Do not skip the uncollected homework. The only reason there is a separation into collected versus uncollected homework is so that you will get feedback in a timely manner.</li>
		</ul>
		</li>
		<li>Uncollected homework is found in the table below. Though these assignments are not collected, you should do as many as possible
	as practice problems. The first column shows the textbook section.
	The next column shows exercises assigned from the textbook. Exercises marked with an asterisk (*) 
	are the <b>only</b> problems for which you should use a calculator or computer. 
	(For problems without an asterisk, use of technology only to <b>check</b> answers is suggested.) 
	Though textbook exercises are not collected or graded, to encourage you to do the book problems, 
	<b>each exam will contain at least one problem from the list of problems in the table below</b>.</li>
	</ul>

		<b>The schedule shown below is modified due to weather-related cancellations. To see the original schedule, see the <a href="Edward D. Kim - MTH 175 (Spring 2019) Syllabus.pdf">original syllabus</a>.</b>

<table>
<tr><td>Section</td><td>WeBWorKs</td><td>Textbook exercises</td></tr>
	
<!-- Barnett, Ziegler, Byleen 13th edition -->
<tr><td>2.1</td><td>1, 2</td><td>9-37odd, 47, 51, 53, 55, 59, 61, 63, 73, 75</td></tr>
<tr><td>2.2</td><td>5</td><td>9-16, 17-23odd</td></tr>
<tr><td>2.3</td><td>6</td><td>9-29</td></tr>
<tr><td>2.4</td><td>7, 8</td><td>9ab, 11ab, 19-45, 55, 79, 81</td></tr>
<tr><td>2.5</td><td>9, 10</td><td>9-63odd, 79, 89</td></tr>
<tr><td>2.7</td><td>11, 12</td><td>9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 23, 25, 27, 33b, 35ab, 47</td></tr>  
<tr><td>3.1</td><td>12, 13</td><td>9-20 (use a calculator), 25-32 
<tr><td>3.2</td><td>14, 15</td><td>9-23, 27, 31, 35, 37, 39, 41</td></tr>
<tr><td>3.3</td><td>16, 17</td><td>15, 17, 19, 25, 31, 37, 53, 59, 63, 69, 93ab</td></tr>
<tr><td>3.4</td><td>18, 19</td><td>9, 13, 15, 17-38 , 41, 45, 51, 53, 63, 79, 91</td></tr>
<tr><td>3.7</td><td>20</td><td>15-38odd, 51, 52, 53 
<tr><td>4.1</td><td>21, 22</td><td>9-25, 33, 37, 41, 43, 45, 61, 65, 67, 69, 73, 75, 81, 85</td></tr> <tr><td>4.2</td><td>23, 24</td><td>9, 11, 13-16, 17, 21, 25, 31, 33, 39, 41, 45, 53, 63, 67, 71, 83</td></tr>
<tr><td>4.4</td><td>25, 26</td><td>9, 10, 11, 13, 15, 19, 25, 35</td></tr>
<tr><td>4.5</td><td>27, 28</td><td>21, 25, 33, 35, 39, 43, 49, 53, 57, 59, 61, 63, 67</td></tr>
<tr><td>4.6</td><td>28, 29, 30</td><td>9-21odd, 27-31odd, 35</td></tr>
<tr><td>5.1</td><td>31, 32</td><td>9-23, 25, 31, 33, 43-53, 55, 57, 63, 65, 83B, 85</td></tr>
<tr><td>5.2</td><td>33, 34, 35</td><td>9-49, 59, 67, 77, 81</td></tr>
<tr><td>5.4</td><td>36, 37</td><td>7, 19, 31-41</td></tr>
<tr><td>5.5</td><td>38, 39</td><td>13-45, 59, 69, 71, 81, 87</td></tr>
<tr><td>6.1</td><td>40, 41</td><td>15, 19, 23, 25, 33-40, 45, 49, 51, 55, 85</td></tr>
<tr><td>6.2</td><td>42, 43</td><td>55, 56, 57, 58, 59, 60, 63, 65</td></tr>
<tr><td>7.1</td><td>44, 45</td><td>9, 11, 31, 35, 37, 43; Sketch domain of 50, 51, 55, 57</td></tr>
<tr><td>7.2</td><td>45, 46</td><td>9, 11, 17, 19, 23, 31, 35, 39, 43, 61</td></tr> 

</table>

	<br><img src="/img/happy16.png" onclick="this.src='/img/do-homework.jpg'"><br>


<h2>WeBWorK information</h2>
	
Access WebWorK at <a href="https://webwork2.uwlax.edu/webwork2/MTH175-Kim/">https://webwork2.uwlax.edu/webwork2/MTH175-Kim/</a>.
To log in, your username AND password are BOTH the same: they are the part of your uwlax e-mail address before the @ sign.
YOUR PASSWORD FOR WEBWORK IS NOT THE PASSWORD USED FOR WINGS AND OTHER CAMPUS RESOURCES.
<br>
<br>
Since the material in ww00 is a review, this long assignment should be completed as soon as possible!

	There is a gap between the suggested due date and the actual due date. The suggested due date is the first date that I think you should be able to complete the assignment. The extra days between the suggested due date and the actual due date are meant to give you time to absorb the material, ask me questions, and serves as a buffer.
<br><br>
	Each problem will be worth one point.
	
	As soon as you see the green horizontal bar for a problem, you have received full credit. You can move on to another problem. You do not need to do anything to "submit" an entire WeBWorK homework set. Once the green bar is seen, you have received credit for that problem in the set.

	<h3>Inputting mathematics into WeBWorK</h3>

Here's a table that shows how to input many of the typical mathematical formulas for our class. 
A more complete list is available at <a href="http://webwork.maa.org/wiki/Available_Functions">http://webwork.maa.org/wiki/Available_Functions</a>.

<table>
	<tr><td>You want to say</td><td>Then type</td><td>Comments</td></tr>

<tr><td>\(\displaystyle x^2+1\)</td><td> <tt>x^2+1</tt></td><td> The symbol is the ``carat'': type shift then 6 </td></tr>
<tr><td>\(\displaystyle \sqrt{5}\)</td><td> <tt>sqrt(5)</tt></td><td>  </td></tr>
<tr><td>\(\displaystyle \sqrt[3]{5}\)</td><td> <tt>5^(1/3)</tt></td><td> Use the fact that \(\sqrt[3]{5} = 5^{\frac13}\) </td></tr>
<tr><td>\(\displaystyle (3,8]\)</td><td> <tt>(3,8]</tt></td><td> All numbers \(x\) such that \(3 < x \leq 8\) </td></tr>
<tr><td>\(\displaystyle [5,\infty)\)</td><td> <tt>[5,INF)</tt></td><td> All numbers \(x \geq 5\) </td></tr>
<tr><td>\(\displaystyle (-\infty,5)\)</td><td> <tt>(-INF,5)</tt></td><td> All numbers \(x < 5\) </td></tr>
<tr><td>\(\displaystyle (-\infty,5) \cup (5,\infty)\)</td><td> <tt>(-INF,5)U(5,INF)</tt></td><td> Use <tt>U</tt> for the union symbol \(\cup\) and note \((-\infty,5) \cup (5,\infty)\) denotes all real numbers except \(5\) </td></tr>
<tr><td>\(\displaystyle (-\infty,0) \cup (0,1) \cup (1,\infty)\)</td><td> <tt>(-INF,0)U(0,1)U(1,INF)</tt></td><td> All reals except \(0\) and \(1\) </td></tr>
<tr><td>\(\displaystyle |x+3|\)</td><td> <tt>abs(x+3) or <tt>|x+3|</tt></td><td>  </td></tr>
<tr><td>\(\displaystyle \ln |x|\)</td><td> <tt>ln(abs(x))</tt></td><td>  </td></tr>
<tr><td>\(\displaystyle \ln\left(\frac{3x + x^{22}}{1+e^x} \right)\)</td><td> <tt>ln((3x+x^22)/(1+e^x))</tt></td><td> Parentheses are needed -- order of operations </td></tr>
<tr><td>\(\displaystyle \ln \left(\frac{\sqrt{3}}{2}\right)\)</td><td> <tt>ln(sqrt(3)/2)</tt></td><td></td></tr>
</table>
	
	Watch the video <a href="http://youtu.be/aEtypz8Wsbw">save time in WeBWorK</a>. Highlights of video:
<ul>
	<li><b>Using calculators wastes time:</b>
WeBWorK will accept notation similar to what you might type in a calculator. In general, it is faster to type directly into WeBWorK. Skip the step of typing something very similar into a calculator, only to have to copy the numerical output of the calculator into the WeBWorK.</li>
	<li><b>Use a text editor:</b> For complicated expressions with many parentheses or expressions with a lot of repetition, it is helpful to type in Notepad (on Windows) or TextEdit (on Mac) where you have access to copy-paste.</li>
	</ul>
	
	
	
	<table>
	<tr><td>Assignment #</td><td>Start (and complete if possible) on</td><td>Final due date in system</td></tr>

<tr><td>ww00</td><td>ASAP</td><td>02/05/2019</td></tr>
<tr><td>ww01</td><td>01/31/2019</td><td>02/05/2019</td></tr>
<tr><td>ww02</td><td>02/01/2019</td><td>02/06/2019</td></tr>
<tr><td>ww03</td><td>02/05/2019</td><td>02/07/2019</td></tr>
<tr><td>ww04</td><td>02/06/2019</td><td>02/11/2019</td></tr>
<tr><td>ww05</td><td>02/07/2019</td><td>02/12/2019</td></tr>
<tr><td>ww06</td><td>02/11/2019</td><td>02/13/2019</td></tr>
<tr><td>ww07</td><td>02/12/2019</td><td>02/14/2019</td></tr>
<tr><td>ww08</td><td>02/13/2019</td><td>02/18/2019</td></tr>
<tr><td>ww09</td><td>02/14/2019</td><td>02/19/2019</td></tr>
<tr><td>ww10</td><td>02/18/2019</td><td>02/20/2019</td></tr>
<tr><td>ww11</td><td>02/19/2019</td><td>02/25/2019</td></tr>
<tr><td>ww12</td><td>02/20/2019</td><td>02/26/2019</td></tr>
<tr><td>ww13</td><td>02/25/2019</td><td>02/27/2019</td></tr>
<tr><td>ww14</td><td>02/26/2019</td><td>02/28/2019</td></tr>
<tr><td>ww15</td><td>02/27/2019</td><td>03/04/2019</td></tr>
<tr><td>ww16</td><td>02/28/2019</td><td>03/05/2019</td></tr>
<tr><td>ww17</td><td>03/04/2019</td><td>03/06/2019</td></tr>
<tr><td>ww18</td><td>03/05/2019</td><td>03/07/2019</td></tr>
<tr><td>ww19</td><td>03/06/2019</td><td>03/11/2019</td></tr>
<tr><td>ww20</td><td>03/07/2019</td><td>03/12/2019</td></tr>
<tr><td>ww21</td><td>03/11/2019</td><td>03/13/2019</td></tr>
<tr><td>ww22</td><td>03/12/2019</td><td>03/25/2019</td></tr>
<tr><td>ww23</td><td>03/13/2019</td><td>03/26/2019</td></tr>
<tr><td>ww24</td><td>03/25/2019</td><td>03/27/2019</td></tr>
<tr><td>ww25</td><td>03/26/2019</td><td>03/28/2019</td></tr>
<tr><td>ww26</td><td>03/27/2019</td><td>04/01/2019</td></tr>
<tr><td>ww27</td><td>03/28/2019</td><td>04/02/2019</td></tr>
<tr><td>ww28</td><td>04/01/2019</td><td>04/03/2019</td></tr>
<tr><td>ww29</td><td>04/02/2019</td><td>04/08/2019</td></tr>
<tr><td>ww30</td><td>04/03/2019</td><td>04/09/2019</td></tr>
<tr><td>ww31</td><td>04/08/2019</td><td>04/10/2019</td></tr>
<tr><td>ww32</td><td>04/09/2019</td><td>04/11/2019</td></tr>
<tr><td>ww33</td><td>04/10/2019</td><td>04/15/2019</td></tr>
<tr><td>ww34</td><td>04/11/2019</td><td>04/16/2019</td></tr>
<tr><td>ww35</td><td>04/15/2019</td><td>04/17/2019</td></tr>
<tr><td>ww36</td><td>04/16/2019</td><td>04/18/2019</td></tr>
<tr><td>ww37</td><td>04/17/2019</td><td>04/22/2019</td></tr>
<tr><td>ww38</td><td>04/18/2019</td><td>04/23/2019</td></tr>
<tr><td>ww39</td><td>04/22/2019</td><td>04/24/2019</td></tr>
<tr><td>ww40</td><td>04/23/2019</td><td>04/29/2019</td></tr>
<tr><td>ww41</td><td>04/24/2019</td><td>04/30/2019</td></tr>
<tr><td>ww42</td><td>04/29/2019</td><td>05/01/2019</td></tr>
<tr><td>ww43</td><td>04/30/2019</td><td>05/02/2019</td></tr>
<tr><td>ww44</td><td>05/01/2019</td><td>05/06/2019</td></tr>
<tr><td>ww45</td><td>05/02/2019</td><td>05/07/2019</td></tr>
<tr><td>ww46</td><td>05/06/2019</td><td>05/08/2019</td></tr>
<tr><td>ww47</td><td>05/07/2019</td><td>05/09/2019</td></tr>
<tr><td>ww48</td><td>05/08/2019</td><td>05/13/2019</td></tr>
<tr><td>ww49</td><td>05/09/2019</td><td>05/14/2019</td></tr>

	</table>

	<br><img src="/img/happy16.png" onclick="this.src='/img/webwork-cat.jpg'"><br>
	
	<h2>General expectations for math courses</h2>
	<ul>
		<li>Calculators are not allowed on quizzes or exams. We will talk about what a calculator-less answer to a quiz/exam question looks.</li>
		<li>Do not start late. To be up to date, you must do exercises each day.</li>
	</ul>
	
	<h2>How to learn mathematics</h2>
	<ul>
    <li>Use mathematical language and grammar. It is my expectation that you work every day not just on *doing* mathematics, but speaking and thinking in standard mathematical grammar. You should expect this of yourself.</li>
		<li>As you do mathematics, work on explaining what you are doing in complete sentences. Avoid using the word "it".</li>
		<li>Be sure to read the book section before class and after class. Your before read should be quick. Your after read should be thorough.</li>
		<li>There is no replacement for your effort.</li>
		<li>Do not work on things last minute.</li>
		<li>Keep an honest and accurate log of your study time for class. Be sure to "clock out" when your mind wanders to something else (social media, etc.)</li>
		<li>Take thorough notes in class. If it's written on the board, be sure to have it written in your notebook.</li>
		<li>Review your notebook after every class. The best way to review your notebook is to write a new copy of everything you wrote in your original notebook. This gives you the chance to review, and if even notice when you don't fully understand something. If you notice that you don't fully understand something, drop by office hours and ask for clarification.</li>
		<li>Get help at the first sign of trouble: office hours are times reserved for you to get help. It is normal to use office hours!</li>
		<li>Be sure to read the book section to supplement the things we discuss in class.</li>
		<li>To succeed, you should do the textbook exercises.</li>
		<li>Each day's class is likely to rely on the previous day's material: it is not a good habit to wait to do homework until the day it is due (or the day before).</li>
		<li>Commit to learning something soon after it is discussed in class: then you earn points for it on a quiz, an exam, a later exam, and a final. If you learn it only later, you can only earn points for it later.</li>
		<li>It is not a secret to me that Google and Wolfram Alpha exist. If you use these resources, you remove the struggle for yourself and it will reflect in your quizzes and exams.</li>
		<li>Mathematics requires attention to detail, and use of precise mathematical notation and wording. These things are important to me as I assess your work, so please make them important to you.</li>
		<li>If you commit yourself to understanding each topic in time, then you don't really have to "study" for an exam. If you commit to only "halfway understanding" each topic, then you will need to spend an unnecesary amount of time before each exam "studying", but this cramming does not lead to in-depth knowledge or long-term recall.</li>
	</ul>

	<h2>Gradescope 'how to' videos</h2>
	<ul>
		<li><a href="https://youtu.be/RLpiQIBt6uo">Setting up your GradeScope account</a></li>
		<li><a href="https://youtu.be/GjzgE9MFfdI">Gradescope feedback</a></li>
		<!-- <li><a href="https://youtu.be/oHvYPaYVhpo">Submitting an assignment in Gradescope</a></li> -->
	</ul>
	
	<hr>
	
	{% include syllabus-my-math-policies.html %}
	{% include syllabus-uwl-policies.html %}
		
</div>
