---
layout: plain
title: MTH 150 (Fall 2019) Syllabus
---

<div class="well">

	<!-- https://github.com/davidshimjs/qrcodejs -->
	<script type="text/javascript" src="/qrcode.js"></script>

	<div id="qrcode"></div>
	<script type="text/javascript">
	var qrcode = new QRCode(document.getElementById("qrcode"), {
	text: window.location.href,
	width: 128,
	height: 128,
	colorDark : "#000000",
	colorLight : "#ffffff",
	correctLevel : QRCode.CorrectLevel.H
	});
	</script>
	<!-- 
	<div id="qrcode"></div>
	<script type="text/javascript">
	new QRCode(document.getElementById("qrcode"), window.location.href);
	</script> -->

	<h2>MTH 150 (Fall 2019) Syllabus</h2>
	College Algebra (4 credits)<br>
	University of Wisconsin-La Crosse
	<table>
		<tr><td>Section</td><td>Class number</td><td>Days / Times / Location</td></tr>
		<tr><td>150-01</td><td>1891</td><td> MoTuWeTh 7:45a-8:40a, Centennial 3305</td></tr>
		<tr><td>150-03</td><td>1893</td><td> MoTuWeTh 8:50a-9:45a, Centennial 3305</td></tr>
	</table>
	
	<br><img src="/img/happy16.png" onclick="this.src='/img/welcome-team.jpg'"><br>
		
	<h3>Instructor Information</h3>
	Instructor: Dr. Edward D. Kim<br />
	Office: 1018 Cowley Hall<br />
	Phone: 608-785-6613<br />
	Email:  <span class="emailspan"><img src="/shh/a42659826.gif" alt="-" class="email" /><img src="/shh/a71093256.gif" alt="-" class="email" /><img src="/shh/a1208752339807.gif" alt="-" class="email" /><img src="/shh/a1092352398.gif" alt="-" class="email" />@uwlax.edu</span><br />

	<br><img src="/img/happy16.png" onclick="this.src='/img/call-me.jpg'"><br>

	<h3>Office Hours</h3>
	{% include syllabus-office-hours-2019-fall.html %}
	<!--	
	Physical Office hours: <days and times, locations if not your office>
	Virtual Office hours: <days and times, how to contact you (e.g., email, etc.; required for online-only courses, 
	optional for in-person and hybrid courses)
	-->

	<h3>Course Description</h3>

	<h4>Catalog Description</h4>
	A college algebra course on the properties, graphs, and applications of elementary functions. Topics include the real and complex numbers, concepts from analytic geometry, solutions to equations and inequalities, the elementary algebraic functions, and the logarithmic and exponential functions. Prerequisite: MTH 051 or two years of high school algebra and an appropriate placement test score. (Successful completion of MTH 151, MTH 175, or MTH 207 precludes taking MTH 150 for credit.) Offered Fall, Spring, Summer.
	
	<!-- 
	<h4>Overview</h4>
	Enter a course overview if different from course catalog description
 	 -->
 
	<h4>Prerequisites</h4>
	<!-- [enter prerequisites here or state none]-->
	MTH 051 or two years of high school algebra and an appropriate placement test score.
  
	<h4>Course Learning Outcomes</h4>
	<!-- 15 objectives self-written  -->
	Students will develop an understanding of and appreciation for the theory and applications of algebra. Specifically, by the end of this course, you will be able to:
	<ul>
  <li>simplify and rewrite expressions involving fractions, decimals, exponents, radicals, and logarithms using algebraic identities</li>
  <li>translate applied problems into algebraic equations and interpret the solution in context</li>
  <li>solve equations and inequalities involving absolute values, polynomials, fractions, decimals, exponents, radicals, and logarithms</li>
  <li>complete the square on \(ax^2+bx+c=0\) to obtain the Quadratic Formula</li>
  <li>understand the concepts of functions, including input, output, domain, range, operations, compositions, and inverses</li>
  <li>apply the connection between a function and its graph to answer questions about intercepts and zeroes</li>
  <li>construct the graphs of standard functions (linear, quadratic, square root, exponential, logarithm, absolute value, etc.) and apply graph transformations</li>
  <li>find roots of a polynomial using standard techniques such as polynomial long division</li>
  <li>explain the relationship between functions and their inverses, especially in the context of logarithms</li>
	</ul>
<!-- 
Course Learning Outcomes	Major/Minor Outcomes	General Education or external standards Outcomes (delete column if appropriate)
By the end of this course, you will be able to:	By the end of this course, you will be able to:	By the end of this course, you will be able to:
Objective/Outcome 1	Objective/Outcome 1	Objective/Outcome 1
Objective/Outcome 2	Objective/Outcome 2	Objective/Outcome 2
Objective/Outcome 3	Objective/Outcome 3	Objective/Outcome 3 -->

	<br><img src="/img/happy16.png" onclick="this.src='/img/find-x.jpg'"><br>

	
	<h4>Materials and Tools</h4>
	Textbook: J. Stewart, L. Redlin, S. Watson. <i>Algebra and Trigonometry</i>. 4th Edition. Cengage Learning. Boston.
  <!-- Note whether available from Textbook Rental or need to be purchased. -->
	This textbook will be available from Textbook Rental.

	The textbook is rather heavy for carrying around on a daily basis.
	You can leave the textbook at home, and consult it at home for its explanations, examples, and practice exercises.
	On rare occasion, I will ask you to bring the textbook to class, but those days will be announced with plenty of notice.
	When visiting office hours, you do not need to bring the textbook with you, even if your question concerns something in the book: I will have a copy of the book in my office which you can use.
	
	<br><img src="/img/happy16.png" onclick="this.src='/img/book.jpg'"><br>

  
  <h4>General Education Program</h4>
  MTH 150 is a course in the `Mathematics' list of <a href="http://catalog.uwlax.edu/undergraduate/generaleducation/#generaleducationrequirementstext">GE 02</a>.
	
	<h4>Format</h4>
	This is a face-to-face course. You may be asked to reference materials or participate online through the learning 
	management system, Canvas. If that is the case, you will need your UWL NetID to login to the course from 
	the <a href="http://www.uwlax.edu/canvas/">Canvas homepage</a>.

	<h3>Grading Policies</h3>
	Your overall course grade is determined by the following components, with the weights given:

	<ul>

	<li>Projects: 10% of your grade. There will be three projects. More information on each project is available in Canvas.</li>

	<li>WeBWorK: 15% of your grade. WeBWorK is an online homework system. Log in to
		<a href="https://webwork2.uwlax.edu/webwork2/MTH150-Kim/">WeBWorK</a>
		with both your username and initial password being the part before the at-sign in your uwlax e-mail address.
		<b>This system is not connected to other password databases on campus: therefore your password is not
		what you use elsewhere on campus, unless you should choose to change it so that they're synced.</b>
		The 'E-mail instructor' button is <b>only</b> for technical errors in WeBWorK:
		mathematical concerns should be discussed in office hours.
		E-mail is not a good format for discussing mathematics, so visit office hours instead!</li>

	<li>Quizzes: 15% of your grade.
		There are 13 in-class quizzes which will take place in the last 10 minutes of 
		class most Tuesdays as shown in the class calendar. With the exception of Quiz 01 (which covers the first week), 
		the cutoff of material for a Tuesday quiz is what was covered in class the previous Tuesday. 
		(Quiz 01 covers up to and including material from September 5. 
		The remaining quizzes follow a regular coverage schedule: 
		Quiz 02 covers up to and including material from September 10. 
		Quiz 03 covers up to and including September 17.) 
		The lowest 2 quizzes will be dropped. 
		There are no make-up quizzes, 
		except in extreme circumstances determined by the instructor.
		In addition, Quiz 00 is a introduction video which you will submit directly in Canvas.</li>

	<li>In-class exams: 40% of your grade. Other than the final, there are four in-class exams of 55 minutes, 
		each of equal weight (10% each).
		<ul>
		<li>Exam 1 (on Thr Sep 26) covers material from Sep 3 through the end of class on Sep 19.</li>
		<li>Exam 2 (on Thr Oct 17) covers material from Sep 3 through the end of class on Oct 10, with emphasis on material after Sep 29.</li>
		<li>Exam 3 (on Thr Nov 7) covers material from Sep 3 through the end of class on Oct 31, with emphasis on material after Oct 10.</li>
		<li>Exam 4 (on Thr Dec 5) covers material from Sep 3 through the end of class on Nov 26, with emphasis on material after Oct 31.</li>
		</ul>
		While exams generally emphasize later material, mathematics is inherently cumulative so the <b>exams are cumulative too</b>.
		Exams must be taken on the scheduled day unless prior arrangements have been made for extreme circumstances.</li>

	<li>Final Exam: 20% of your grade. The final exam is comprehensive (covers all sections which we covered).
		In accordance with the 
		<a href="https://www.uwlax.edu/records/faculty-staff-resources/final-exam-schedule/">final exam schedule</a>,
		the final exam is on Monday, December 16.
		The exam starts at 4:45pm and is two hours long. (MTH 150 is one of the classes whose final exam occurs during the mass exam time. The location of the exam will be announced once it is known.)
		In accordance with the growth mindset policy of this class,
		if your percentage on the final is higher than your percentage on an in-class exam,
		the score for one of your in-class exams will be replaced with the final exam percentage.</li>
	</ul>
		
	Every quiz and every exam will have one or more conceptual question.
	Sample solutions are provided for the conceptual questions, but instead of just memorizing the solutions, 
	I urge you to <i>understand</i> the answer to each question!

	<br><img src="/img/happy16.png" onclick="this.src='/img/turn-in-all-the-things.jpg'"><br>

	<h4>Effective use of feedback</h4>
	Each in-class assessment (the 13 quizzes, and the 4 in-class tests) is an opportunity to get feedback, unlearn any misconceptions, and can be used
	to get ready for the next assessment (quiz, in-class test, final exam). Every time the score for an in-class assessment is posted to Canvas,
	I will also make the rubric available to you in Gradescope and a key (with sample solutions) available in Canvas. At that time, you'll get an automatically-generated e-mail 
	from Gradescope that your scanned work is ready to view, and the e-mail will have a direct link. When these things occur, you should do the following before the next assessment:
	<ul>
		<li>Review the scanned copy of your work in Gradescope. For privacy reasons, you are the only student who can see your work. (Gradescope will allow you to download a PDF copy of your work.)</li>
		<li>Review the key for the assignment in Canvas. The key will indicate common errors in red, comments in blue, etc. Where it makes sense to do so, the key will show alternate solutions if there are alternate solutions. Compare your written work against the key.</li>
		<li>In Gradescope, by clicking on the title of any question, you'll get a rubric. Read through the entire rubric. Some rubric items are positive, some are negative. The positive rubric items are for correct steps. The negative rubric items are to adjust for errors which are not addressed by the positive rubric items. The point value of each rubric item is displayed. Generally speaking, if there are 6 steps to a problem, the first 6 rubric items correspond to those steps, and in an ideal situation, you want those six rubric items applied to your work (and none of the penalty/adjustment rubric items below to apply). The rubric items that apply to your quiz/test are in a blue background and marked with a check symbol.</li>
	</ul>
	The rubric makes the most sense when you compare it to your work AND the key.
	
	<h4>Late Assignments, Missed Exams</h4>
	Assignments are due on the dates indicated in the Course Schedule. For extenuating circumstances that impact your ability 
	to meet deadlines or participate in class activities, you are responsible for alerting me as soon as possible. 

	<!-- [explain how students should notify you if they are, e.g., ill on an exam day, and, as required by the Faculty Senate 
	Syllabus Policy, your policy on missed course work, including exams or other graded in-class work] -->

	If a situation should arise (e.g., ill on an exam day), please notify me by e-mail as soon as possible:
	a determination of alternate arrangements will be made on a case-by-case basis, but the instructor has the final determination
	for what absences are eligible, which is why it is important to alert the instructor as soon as you know of an absence
	which would affect an assignment deadline or test date.

	<br><img src="/img/happy16.png" onclick="this.src='/img/late-work.jpg'"><br>

	<h4>Attendance and Participation</h4>
	There are no points in the course grading policies assigned to attendance or participation. Though attendance and 
	participation do not have a direct effect on your grade, attendance and participation are required for success with 
	homeworks, quizzes, and exams. I strongly recommend that you attend and participate every class session! If you have 
	any extenuating circumstance that may prevent full attendance or participation, please let me know as soon as possible.

	<br><img src="/img/happy16.png" onclick="this.src='/img/attendance.jpg'"><br>
		
	<h3>Expectations for Graded Work</h3>
	<div>I provide students feedback and/or scores on assignments that require individualized grading.  Generally, I return 
		work that requires individual feedback within 21 days from the date the work was due. I will notify you if I am 
		unable to grade the work within the 21-day timeframe, and will identify a revised return date. If you submit work 
		after the due date, it may not be accepted for credit, and it may not be returned within 21 days.</div><br>
 
	<div>The grades for any work that is graded electronically, such as scanned examinations, will be accessible to you within 
		14 days of the due date for the work. If you submit electronically graded work after the due date, it will not be 
		accepted for credit except under extreme circumstances determined by the instructor.</div><br>
 
	<div>Your graded coursework will be returned in compliance with FERPA regulations, such as in class, during my office hours, 
		via the course management system through which only you will have access to your grades, or using Gradescope.
		Assignments will be returned as soon as possible but due to the nature of mathematics assignments (especially where 
		a consecutive assignment can be started prior to the previous assignment being due), it is not possible to return 
		work prior to a similar assignment being due, but you should generally have returned work with feedback within the 
		subsequent assignment being due.</div><br>

	<br><img src="/img/happy16.png" onclick="this.src='/img/feedback.jpg'"><br>
	
	<h3>Grading Scale</h3>

	To be guaranteed a given grade, a student needs to obtain at least the following overall percentage:

	<table>
		<tr><td>Letter Grade</td><td>Minimum Percentage</td></tr>
		<tr><td>A</td><td>91%</td></tr>
		<tr><td>AB</td><td>88%</td></tr>
		<tr><td>B</td><td>82%</td></tr>
		<tr><td>BC</td><td>78%</td></tr>
		<tr><td>C</td><td>70%</td></tr>
		<tr><td>D</td><td>60%</td></tr>
	</table>
	A final course percentage of 87.96% does not "automatically round" to an 88%.
	Sending an e-mail at the end of the semester will not have an influence on determination of final grades.
	If your ultimate goal in this class is to earn (for example) an AB, please plan accordingly early in the semester.

	<br><img src="/img/happy16.png" onclick="this.src='/img/youre-going-to-rock.jpg'"><br>

	<h2>Course Outline and Schedule</h2>
	Please note that the timing of activities and topics listed below may change.
	I will give you timely notice of any major changes in the syllabus through email, on Canvas, in class, or some combination 
	of methods.

	<!-- 
Week	Dates	Topics/Unit	Course Resources/
Readings	Instructional Activities/Assignments	Due Dates	Linked to Learning Objective/s
1	Enter Date 	List topic/unit to be covered – add rows as needed	Books/Article links/video links/ multimedia links, readings, lectures, activities 	Activities/Discussion
	Date, Time, Assignment	Which  objectives match these instructional activities or assignments? -->

	<table>
	
		<tr>
			<td><b>Monday</b></td>
			<td><b>Tuesday</b></td>
			<td><b>Wednesday</b></td>
			<td><b>Thursday</b></td>
		</tr>
		
		<tr><!-- Week 1 -->
			<td><abbr title="No class">Sep 2</abbr><br>No class</td>
			<td><abbr title="Session 1">Sep 3</abbr><br>Introductions</td>
			<td><abbr title="Session 2">Sep 4</abbr><br>P.1/P.2: review</td>
			<td><abbr title="Session 3">Sep 5</abbr><br>P.1/P.2: review<br/></td>
		</tr>
	
		<tr><!-- Week 2 -->
			<td><abbr title="Session 4">Sep 9</abbr><br>P.1/P.2: review<b>Quiz 00 due</b></td>
			<td><abbr title="Session 5">Sep 10</abbr><br>P.3: integer exponents<br>Quiz 1</td>
			<td><abbr title="Session 6">Sep 11</abbr><br>P.4: radicals</td>
			<td><abbr title="Session 7">Sep 12</abbr><br>P.5: algebraic expressions<br></td>
		</tr>
	
		<tr><!-- Week 3 -->
			<td><abbr title="Session 8">Sep 16</abbr><br>P.6: factoring<br></td>
			<td><abbr title="Session 9">Sep 17</abbr><br>P.7: rational expressions<br>Quiz 2</td>
			<td><abbr title="Session 10">Sep 18</abbr><br>P.7: rational expressions</td>
			<td><abbr title="Session 11">Sep 19</abbr><br>P.8/P.9: equations<br></td>
		</tr>
	
		<tr><!-- Week 4 -->
			<td><abbr title="Session 12">Sep 23</abbr><br>P.8/P.9: equations<br></td>
			<td><abbr title="Session 13">Sep 24</abbr><br>P.8/P.9: modeling<br>Quiz 3</td>
			<td><abbr title="Session 14">Sep 25</abbr><br>P.8/P.9: equations<br></td>
			<td><abbr title="Exam day">Sep 26</abbr><br><b>EXAM 1</b></td>
		</tr>
	
		<tr><!-- Week 5 -->
			<td><abbr title="Session 15">Sep 30</abbr><br>P.8/P.9: systems<br></td>
			<td><abbr title="Session 16">Oct 1</abbr><br>1.1: \(xy\)-plane<br>Quiz 4</td>
			<td><abbr title="Session 17">Oct 2</abbr><br>1.2: graphs of equations</td>
			<td><abbr title="Session 18">Oct 3</abbr><br>1.3: lines<br></td>
		</tr>
	
		<tr><!-- Week 6 -->
			<td><abbr title="Session 19">Oct 7</abbr><br>1.3: lines</td>
			<td><abbr title="Session 20">Oct 8</abbr><br>1.4: quadratics<br>Quiz 5</td>
			<td><abbr title="Session 21">Oct 9</abbr><br>1.4: quadratics</td>
			<td><abbr title="Session 22">Oct 10</abbr><br>1.4: quadratics<br><b>PROJECT 1</b></td>
		</tr>
	
		<tr><!-- Week 7 -->
			<td><abbr title="Session 23">Oct 14</abbr><br>1.2*: circles<br></td>
			<td><abbr title="Session 24">Oct 15</abbr><br>1.5: complex numbers<br>Quiz 6</td>
			<td><abbr title="Session 25">Oct 16</abbr><br>1.6: other equations<br></td>
			<td><abbr title="Exam day">Oct 17</abbr><br><b>EXAM 2</b><br></td>
		</tr>
	
		<tr><!-- Week 8 -->
			<td><abbr title="Session 26">Oct 21</abbr><br>1.6: other equations<br></td>
			<td><abbr title="Session 27">Oct 22</abbr><br>1.7: inequalities<br>Quiz 7</td>
			<td><abbr title="Session 28">Oct 23</abbr><br>1.8: absolute value</td>
			<td><abbr title="Session 29">Oct 24</abbr><br>1.8: absolute value<br></td>
		</tr>
	
		<tr><!-- Week 9 -->
			<td><abbr title="Session 30">Oct 28</abbr><br>2.1/2.2: functions<br></td>
			<td><abbr title="Session 31">Oct 29</abbr><br>2.1/2.2: functions<br>Quiz 8</td>
			<td><abbr title="Session 32">Oct 30</abbr><br>2.1/2.2: functions</td>
			<td><abbr title="Session 33">Oct 31</abbr><br>2.1/2.2/2.3/2.4: functions, graphs, average rate<br><b>PROJECT 2</b></td>
		</tr>
	
		<tr><!-- Week 10 -->
			<td><abbr title="Session 34">Nov 4</abbr><br>2.6: transformations<br></td>
			<td><abbr title="Session 35">Nov 5</abbr><br>2.6: transformations<br>Quiz 9</td>
			<td><abbr title="Session 36">Nov 6</abbr><br>2.7: operations on functions<br></td>
			<td><abbr title="Exam day">Nov 7</abbr><br><b>EXAM 3</b></td>
		</tr>
	
		<tr><!-- Week 11 -->
			<td><abbr title="Session 37">Nov 11</abbr><br>2.8: one-to-one functions<br></td>
			<td><abbr title="Session 38">Nov 12</abbr><br>2.8: one-to-one functions<br>Quiz 10</td>
			<td><abbr title="Session 39">Nov 13</abbr><br>3.1/3.2: polynomial functions</td>
			<td><abbr title="Session 40">Nov 14</abbr><br>3.3: polynomial division</td>
		</tr>
	
		<tr><!-- Week 12 -->
			<td><abbr title="Session 41">Nov 18</abbr><br>3.4/3.5: zeroes<br></td>
			<td><abbr title="Session 42">Nov 19</abbr><br>3.6: rational functions<br>Quiz 11</td>
			<td><abbr title="Session 43">Nov 20</abbr><br>3.6: rational functions<br></td>
			<td><abbr title="Session 44">Nov 21</abbr><br><br>4.1/4.6: exponential functions and models<br><b>PROJECT 3</b></td>
		</tr>
	
		<tr><!-- Week 13 -->
			<td><abbr title="Session 45">Nov 25</abbr><br>4.2: natural exponential<br></td>
			<td><abbr title="Session 46">Nov 26</abbr><br>4.3/4.4: logarithms<br></td>
			<td><abbr title="No class">Nov 27</abbr><br><i>No class</i></td>
			<td><abbr title="No class">Nov 28</abbr><br><i>No class</i></td>
		</tr>
	
		<tr><!-- Week 14 -->
			<td><abbr title="Session 47">Dec 2</abbr><br>4.3/4.4: logarithms</td>
			<td><abbr title="Session 48">Dec 3</abbr><br>4.3/4.4: logarithms<br>Quiz 12</td>
			<td><abbr title="Session 49">Dec 4</abbr><br>4.3/4.4: logarithms</td>
			<td><abbr title="Exam day">Dec 5</abbr><br><b>EXAM 4</b></td>
		</tr>
	
		<tr><!-- Week 15 -->
			<td><abbr title="Session 50">Dec 10</abbr><br>4.5: exp/log equations</td>
			<td><abbr title="Session 51">Dec 11</abbr><br>Review<br>Quiz 13</td>
			<td><abbr title="Session 52">Dec 12</abbr><br>Review<br></td>
			<td><abbr title="No class">Dec 13</abbr><br><i>No classes</i></td>
		</tr>
	
		<!-- 
		<tr>
			<td><abbr title="Session number">Date</abbr><br>Section: Topic<br>Major deadline</td>
			<td><abbr title="Session number">Date</abbr><br>Section: Topic<br>Major deadline</td>
			<td><abbr title="Session number">Date</abbr><br>Section: Topic<br>Major deadline</td>
			<td><abbr title="Session number">Date</abbr><br>Section: Topic<br>Major deadline</td>
		</tr>
		  -->	
	</table>
	This calendar shows what we will tentatively cover in class each day.
	We will return to Section 1.2 to cover circles(*) once we have completed Section 1.4

	<br><img src="/img/happy16.png" onclick="this.src='/img/class-calendar.jpg'"><br>

	
	<h2>Homework</h2>
	Assigned homework is found in the table below. Though these assignments are not collected, you should do as many as possible
	as practice problems. The first column shows the textbook section. The second column shows which WeBWorK assignments are 
	relevant for that section. The next column shows exercises assigned from the textbook. Exercises marked with an asterisk (*) 
	are the <b>only</b> problems for which you should use a calculator or computer. 
	(For problems without an asterisk, use of technology only to <b>check</b> answers is suggested.) 
	Though textbook exercises are not collected or graded, to encourage you to do the book problems, 
	<b>each exam will contain at least one problem from the list of problems in the table below</b>.

	After content is covered in class, relevant WeBWorK assignment(s) are officially due about a half-week later. 
	The gap is meant to give you time to absorb the material and visit office hours. If you are always completing 
	assignments on the due date, you are always behind in material in the class! To succeed in this class, you should 
	regularly complete assignments immediately after the topic has been covered in class. Do not always complete 
	assignments at the last minute.
	
	<h3>Textbook exercises</h3>
	The column of the left shows the section number in the book.
	The middle column shows the corresponding WeBWorK assignment(s).
	The column on the right shows the textbook exercises to do for the section.
<table>
<tr><td>Section</td><td>WeBWorK</td><td>Exercises</td></tr>

<tr><td>P.1</td><td></td><td>We will return to exercises for P.1 after P.9</td></tr>
<tr><td>P.2</td><td></td><td>9-28 all</td></tr>
<tr><td>P.3</td><td>4</td><td>1-7 odd, 11-33 odd</td></tr>
<tr><td>P.4</td><td>5</td><td>1, 3, 5, 9-89 odd</td></tr>
<tr><td>P.5</td><td>6</td><td> 9-85 odd</td></tr>
<tr><td>P.6</td><td>7</td><td>7-97 odd; Do at least five of 99-113 odd</td></tr>
<tr><td>P.7</td><td>8, 9</td><td>15-71 odd, 85-95 odd</td></tr>
<tr><td>P.8</td><td>10, 11, 12, 13, 14</td><td>7-14 all, 15-77 odd, 87-100 all</td></tr>
<tr><td>P.9</td><td>10, 11, 12, 13, 14</td><td>7-67 odd</td></tr>

<tr><td>1.1</td><td>15</td><td>1-8 all, 9-29 odd, 35-39 all, 43-49 all </td></tr>
<tr><td>1.2</td><td>16, 22</td><td>9-14 all, 15-39 odd, 47-59 odd; After session 23, do 67-94 odd</td></tr>
<tr><td>1.3</td><td>17, 18</td><td>9, 11, 17, 19-49 odd, 73-77 odd</td></tr>
<tr><td>1.4</td><td>19, 20, 21</td><td>5-45 odd, 51-55 odd</td></tr>
<tr><td>1.5</td><td>23</td><td>7-35 odd, 49-58 all, 61-71 odd</td></tr>
<tr><td>1.6</td><td>24, 25</td><td>5-65 odd, 72, 73</td></tr>
<tr><td>1.7</td><td>26</td><td>11-31 all; After we visit Section 3.2, do 33-53 odd</td></tr>
<tr><td>1.8</td><td>27, 28</td><td>5-45 odd</td></tr>

<tr><td>2.1</td><td>29, 30, 31, 32</td><td>1, 2, 3, 4, 7-14 all, 17-37 odd, 51-71 odd</td></tr>
<tr><td>2.2</td><td>29, 30, 31, 32</td><td>1, 2, 3, 4, 5-27 odd, 33-45 odd</td></tr>
<tr><td>2.5</td><td>33</td><td>7-35 odd</td></tr> % Covered indirectly
<tr><td>2.6</td><td>33, 34</td><td>1-6 all, 7-73 odd</td></tr>
<tr><td>2.7</td><td>35</td><td>7-61 odd, 75, 76</td></tr>
<tr><td>2.8</td><td>36, 37</td><td>1, 4, 5, 6, 7-12 all, 13-59 odd</td></tr>

<tr><td>3.1</td><td>38</td><td>9-33 odd</td></tr> <!-- % section at home -->
<tr><td>3.2</td><td>38</td><td>5-39 odd</td></tr>
<tr><td>3.3</td><td>39</td><td>3-7 odd, 15-23 odd</td></tr>
<tr><td>3.4</td><td>40</td><td>1, 2</td></tr> <!-- % light -->
<tr><td>3.5</td><td>40</td><td>1, 3</td></tr> <!-- % light -->
<tr><td>3.6</td><td>40, 41</td><td>1-6 all, 21-25 odd, 31-41 odd, 43-61 odd, 63-67 odd\\\hline\hline <!-- % really spending two, not one day -->

<tr><td>4.1</td><td>42</td><td>1, 2, 3, 7-39 odd</td></tr>
<tr><td>4.2</td><td>43</td><td>7-15 odd, 23-39 odd</td></tr>
<tr><td>4.3</td><td>44, 45</td><td>1-8 all, 9-43 odd, 49-27 odd, 59, 60</td></tr>
<tr><td>4.4</td><td>46</td><td>1-8 all, 9-65 odd</td></tr>
<tr><td>4.5</td><td>47, 48</td><td>1, 2, 3-9 odd, 11-37 odd (part a only), 39-67 odd</td></tr>
</table>

	<br><img src="/img/happy16.png" onclick="this.src='/img/do-homework.jpg'"><br>

	<h2>WeBWorK information</h2>
	
Access WebWorK at <a href="https://webwork2.uwlax.edu/webwork2/MTH150-Kim/">https://webwork2.uwlax.edu/webwork2/MTH150-Kim/</a>.
To log in, your username AND password are BOTH the same: they are the part of your uwlax e-mail address before the @ sign.
YOUR PASSWORD FOR WEBWORK IS NOT THE PASSWORD USED FOR WINGS AND OTHER CAMPUS RESOURCES.
<br>
<br>
<!-- Since the material in ww00 is a \emph{review}, this long assignment should be completed as soon as possible! -->

	There is a gap between the suggested due date and the actual due date. The suggested due date is the first date that I think you should be able to complete the assignment. The extra days between the suggested due date and the actual due date are meant to give you time to absorb the material, ask me questions, and serves as a buffer.
<br><br>
	Each problem will be worth one point.
	
	As soon as you see the green horizontal bar for a problem, you have received full credit. You can move on to another problem. You do not need to do anything to "submit" an entire WeBWorK homework set. Once the green bar is seen, you have received credit for that problem in the set.

	<h3>Inputting mathematics into WeBWorK</h3>

Here's a table that shows how to input many of the typical mathematical formulas for our class. 
A more complete list is available at <a href="http://webwork.maa.org/wiki/Available_Functions">http://webwork.maa.org/wiki/Available_Functions</a>.

<table>
	<tr><td>You want to say</td><td>Then type</td><td>Comments</td></tr>

<tr><td>\(\displaystyle x^2+1\)</td><td> <tt>x^2+1</tt></td><td> The symbol is the ``carat'': type shift then 6 </td></tr>
<tr><td>\(\displaystyle \sqrt{5}\)</td><td> <tt>sqrt(5)</tt></td><td>  </td></tr>
<tr><td>\(\displaystyle \sqrt[3]{5}\)</td><td> <tt>5^(1/3)</tt></td><td> Use the fact that \(\sqrt[3]{5} = 5^{\frac13}\) </td></tr>
<tr><td>\(\displaystyle (3,8]\)</td><td> <tt>(3,8]</tt></td><td> All numbers \(x\) such that \(3 < x \leq 8\) </td></tr>
<tr><td>\(\displaystyle [5,\infty)\)</td><td> <tt>[5,INF)</tt></td><td> All numbers \(x \geq 5\) </td></tr>
<tr><td>\(\displaystyle (-\infty,5)\)</td><td> <tt>(-INF,5)</tt></td><td> All numbers \(x < 5\) </td></tr>
<tr><td>\(\displaystyle (-\infty,5) \cup (5,\infty)\)</td><td> <tt>(-INF,5)U(5,INF)</tt></td><td> Use <tt>U</tt> for the union symbol \(\cup\) and note \((-\infty,5) \cup (5,\infty)\) denotes all real numbers except \(5\) </td></tr>
<tr><td>\(\displaystyle (-\infty,0) \cup (0,1) \cup (1,\infty)\)</td><td> <tt>(-INF,0)U(0,1)U(1,INF)</tt></td><td> All reals except \(0\) and \(1\) </td></tr>
<tr><td>\(\displaystyle |x+3|\)</td><td> <tt>abs(x+3) or <tt>|x+3|</tt></td><td>  </td></tr>
<tr><td>\(\displaystyle \ln |x|\)</td><td> <tt>ln(abs(x))</tt></td><td>  </td></tr>
<tr><td>\(\displaystyle \ln\left(\frac{3x + x^{22}}{1+e^x} \right)\)</td><td> <tt>ln((3x+x^22)/(1+e^x))</tt></td><td> Parentheses are needed -- order of operations </td></tr>
<tr><td>\(\displaystyle \ln \left(\frac{\sqrt{3}}{2}\right)\)</td><td> <tt>ln(sqrt(3)/2)</tt></td><td></td></tr>
</table>
	
	Watch the video <a href="http://youtu.be/aEtypz8Wsbw">save time in WeBWorK</a>. Highlights of video:
<ul>
	<li><b>Using calculators wastes time:</b>
WeBWorK will accept notation similar to what you might type in a calculator. In general, it is faster to type directly into WeBWorK. Skip the step of typing something very similar into a calculator, only to have to copy the numerical output of the calculator into the WeBWorK.</li>
	<li><b>Use a text editor:</b> For complicated expressions with many parentheses or expressions with a lot of repetition, it is helpful to type in Notepad (on Windows) or TextEdit (on Mac) where you have access to copy-paste.</li>
	</ul>
	
	
	
	<table>
	<tr><td>Assignment #</td><td>Start (and complete if possible) on</td><td>Final due date in system</td></tr>

<tr><td>ww01</td><td>9/4/2018</td><td>09/10/2018 at 11:59pm</td></tr>
<tr><td>ww02</td><td>9/5/2018</td><td>09/11/2018 at 11:59pm</td></tr>
<tr><td>ww03</td><td>9/6/2018</td><td>09/12/2018 at 11:59pm</td></tr>
<tr><td>ww04</td><td>9/10/2018</td><td>09/13/2018 at 11:59pm</td></tr>
<tr><td>ww05</td><td>9/11/2018</td><td>09/17/2018 at 11:59pm</td></tr>
<tr><td>ww06</td><td>9/12/2018</td><td>09/18/2018 at 11:59pm</td></tr>
<tr><td>ww07</td><td>9/13/2018</td><td>09/19/2018 at 11:59pm</td></tr>
<tr><td>ww08</td><td>9/17/2018</td><td>09/20/2018 at 11:59pm</td></tr>
<tr><td>ww09</td><td>9/18/2018</td><td>09/24/2018 at 11:59pm</td></tr>
<tr><td>ww10</td><td>9/19/2018</td><td>09/25/2018 at 11:59pm</td></tr>
<tr><td>ww11</td><td>9/20/2018</td><td>09/26/2018 at 11:59pm</td></tr>
<tr><td>ww12</td><td>9/24/2018</td><td>10/01/2018 at 11:59pm</td></tr>
<tr><td>ww13</td><td>9/25/2018</td><td>10/02/2018 at 11:59pm</td></tr>
<tr><td>ww14</td><td>9/26/2018</td><td>10/03/2018 at 11:59pm</td></tr>
<tr><td>ww15</td><td>10/1/2018</td><td>10/04/2018 at 11:59pm</td></tr>
<tr><td>ww16</td><td>10/2/2018</td><td>10/08/2018 at 11:59pm</td></tr>
<tr><td>ww17</td><td>10/3/2018</td><td>10/09/2018 at 11:59pm</td></tr>
<tr><td>ww18</td><td>10/4/2018</td><td>10/10/2018 at 11:59pm</td></tr>
<tr><td>ww19</td><td>10/8/2018</td><td>10/11/2018 at 11:59pm</td></tr>
<tr><td>ww20</td><td>10/9/2018</td><td>10/15/2018 at 11:59pm</td></tr>
<tr><td>ww21</td><td>10/10/2018</td><td>10/16/2018 at 11:59pm</td></tr>
<tr><td>ww22</td><td>10/11/2018</td><td>10/17/2018 at 11:59pm</td></tr>
<tr><td>ww23</td><td>10/15/2018</td><td>10/22/2018 at 11:59pm</td></tr>
<tr><td>ww24</td><td>10/16/2018</td><td>10/23/2018 at 11:59pm</td></tr>
<tr><td>ww25</td><td>10/17/2018</td><td>10/24/2018 at 11:59pm</td></tr>
<tr><td>ww26</td><td>10/22/2018</td><td>10/25/2018 at 11:59pm</td></tr>
<tr><td>ww27</td><td>10/23/2018</td><td>10/29/2018 at 11:59pm</td></tr>
<tr><td>ww28</td><td>10/24/2018</td><td>10/30/2018 at 11:59pm</td></tr>
<tr><td>ww29</td><td>10/25/2018</td><td>10/31/2018 at 11:59pm</td></tr>
<tr><td>ww30</td><td>10/29/2018</td><td>11/01/2018 at 11:59pm</td></tr>
<tr><td>ww31</td><td>10/30/2018</td><td>11/05/2018 at 11:59pm</td></tr>
<tr><td>ww32</td><td>10/31/2018</td><td>11/06/2018 at 11:59pm</td></tr>
<tr><td>ww33</td><td>11/1/2018</td><td>11/07/2018 at 11:59pm</td></tr>
<tr><td>ww34</td><td>11/5/2018</td><td>11/12/2018 at 11:59pm</td></tr>
<tr><td>ww35</td><td>11/6/2018</td><td>11/13/2018 at 11:59pm</td></tr>
<tr><td>ww36</td><td>11/7/2018</td><td>11/14/2018 at 11:59pm</td></tr>
<tr><td>ww37</td><td>11/12/2018</td><td>11/15/2018 at 11:59pm</td></tr>
<tr><td>ww38</td><td>11/13/2018</td><td>11/19/2018 at 11:59pm</td></tr>
<tr><td>ww39</td><td>11/14/2018</td><td>11/20/2018 at 11:59pm</td></tr>
<tr><td>ww40</td><td>11/15/2018</td><td>11/26/2018 at 11:59pm</td></tr>
<tr><td>ww41</td><td>11/19/2018</td><td>11/27/2018 at 11:59pm</td></tr>
<tr><td>ww42</td><td>11/20/2018</td><td>11/28/2018 at 11:59pm</td></tr>
<tr><td>ww43</td><td>11/26/2018</td><td>12/03/2018 at 11:59pm</td></tr>
<tr><td>ww44</td><td>11/27/2018</td><td>12/04/2018 at 11:59pm</td></tr>
<tr><td>ww45</td><td>11/28/2018</td><td>12/05/2018 at 11:59pm</td></tr>
<tr><td>ww46</td><td>12/3/2018</td><td>12/06/2018 at 11:59pm</td></tr>
<tr><td>ww47</td><td>12/4/2018</td><td>12/10/2018 at 11:59pm</td></tr>
<tr><td>ww48</td><td>12/5/2018</td><td>12/11/2018 at 11:59pm</td></tr>
<tr><td>ww49</td><td>12/6/2018</td><td>12/12/2018 at 11:59pm</td></tr>
<tr><td>ww50</td><td>12/10/2018</td><td>12/13/2018 at 11:59pm</td></tr>
<tr><td>ww51</td><td>12/11/2018</td><td>12/17/2018 at 11:59pm</td></tr>
<tr><td>ww52</td><td>12/12/2018</td><td>12/18/2018 at 11:59pm</td></tr>
	</table>

	<br><img src="/img/happy16.png" onclick="this.src='/img/webwork-cat.jpg'"><br>
	
	<h2>General expectations for math courses</h2>
	<ul>
		<li>Calculators are not allowed on quizzes or exams. We will talk about what a calculator-less answer to a quiz/exam question looks.</li>
		<li>There is no need to use calculators for WeBWorK: enter full expressions for exact values (doing this will save time)</li>
		<li>Use a text editor to "stage" the text you type in for WeBWorK.</li>
		<li>Do not do WeBWorK on the day it is due. To be up to date, you must do exercises each day. To be last minute, you'll end up doing exercises on WeBWorK each day. Either way, you have to do exercises each day, so you might as well be on time.</li>
	</ul>
	
	<h2>How to learn mathematics</h2>
	<ul>
		<li>As you do mathematics, work on explaining what you are doing in complete sentences. Avoid using the word "it".</li>
		<li>Be sure to read the book section before class and after class. Your before read should be quick. Your after read should be thorough.</li>
		<li>There is no replacement for your effort.</li>
		<li>Do not work on things last minute.</li>
		<li>Keep an honest and accurate log of your study time for class. Be sure to "clock out" when your mind wanders to something else (social media, etc.)</li>
		<li>Take thorough notes in class. If it's written on the board, be sure to have it written in your notebook.</li>
		<li>Review your notebook after every class. The best way to review your notebook is to write a new copy of everything you wrote in your original notebook. This gives you the chance to review, and if even notice when you don't fully understand something. If you notice that you don't fully understand something, drop by office hours and ask for clarification.</li>
		<li>Get help at the first sign of trouble: office hours are times reserved for you to get help. It is normal to use office hours!</li>
		<li>Be sure to read the book section to supplement the things we discuss in class.</li>
		<li>To succeed, you should do the textbook exercises.</li>
		<li>Each day's class is likely to rely on the previous day's material: it is not a good habit to wait to do homework until the day it is due (or the day before).</li>
		<li>Commit to learning something soon after it is discussed in class: then you earn points for it on a quiz, an exam, a later exam, and a final. If you learn it only later, you can only earn points for it later.</li>
		<li>It is not a secret to me that Google and Wolfram Alpha exist. If you use these resources, you remove the struggle for yourself and it will reflect in your quizzes and exams.</li>
		<li>Mathematics requires attention to detail, and use of precise mathematical notation and wording. These things are important to me as I assess your work, so please make them important to you.</li>
		<li>If you commit yourself to understanding each topic in time, then you don't really have to "study" for an exam. If you commit to only "halfway understanding" each topic, then you will need to spend an unnecesary amount of time before each exam "studying", but this cramming does not lead to in-depth knowledge or long-term recall.</li>
	</ul>
	
	<hr>
	
	{% include syllabus-my-math-policies.html %}
	{% include syllabus-uwl-policies.html %}
		
</div>
