---
layout: plain
title: MTH 225 (Fall 2017) Syllabus
---

<div class="well">
		
	<h2>MTH 225 (Fall 2017) Syllabus</h2>
	Foundations of Advanced Mathematics (4 credits)

	\(\forall \varepsilon > 0 \exists \delta \)
	
	Section Number, Class Number
	
	<h3>Instructor Information</h3>
	Instructor: Dr. Edward D. Kim<br />
	Office: 1018 Cowley Hall<br />
	Phone: 608-785-AAAA<br />
	Email:  <span class="emailspan"><img src="/shh/a42659826.gif" alt="-" class="email" /><img src="/shh/a71093256.gif" alt="-" class="email" /><img src="/shh/a1208752339807.gif" alt="-" class="email" /><img src="/shh/a1092352398.gif" alt="-" class="email" />@uwlax.edu</span><br />

	<h3>Office Hours</h3>
	{% include syllabus-office-hours-2017-fall.html %}
	<!--	
	Physical Office hours: <days and times, locations if not your office>
	Virtual Office hours: <days and times, how to contact you (e.g., D2L, email, etc.; required for online-only courses, optional for in-person and hybrid courses)
	-->

	<h3>Course Description</h3>

	<h4>Catalog Description</h4>

	<!-- 
	<h4>Overview</h4>
	<!-- enter a course overview if different from course catalog description -->

	<h4>Prerequisites</h4>
	[enter prerequisites here or state none]

Course Learning Outcomes	Major/Minor Outcomes	General Education or external standards Outcomes (delete column if appropriate)
By the end of this course, you will be able to:	By the end of this course, you will be able to:	By the end of this course, you will be able to:
Objective/Outcome 1	Objective/Outcome 1	Objective/Outcome 1
Objective/Outcome 2	Objective/Outcome 2	Objective/Outcome 2
Objective/Outcome 3	Objective/Outcome 3	Objective/Outcome 3
	<h4>Materials and Tools</h4>
	Textbook: [Textbook information with complete citation. Note whether available from Textbook Rental or need to be purchased. ]

	<h4>Format</h4>
	This is a face-to-face course. You may be asked to reference materials or participate online through the learning management system, Desire2Learn (D2L). If that is the case, you will need your UWL NetID to login to the course from the D2L homepage http://www.uwlax.edu/d2l/.

	<h2>Grading Policies</h2>
Calculations [modify as needed to describe how you calculate grades]
Your overall grade consists of the following assessments, arranged by type and value.
Assignment	Points (per assignment)	#	Total % Final Grade<br>
Item	Points each/Points total		%<br>
Item	Points each/Points total		%<br>
Item	Points each/Points total		%<br>
Item	Points each/Points total		%<br>
Item	Points each/Points total		%<br>
Total Value		100%<br>

	<h3>Late Assignments, Missed Exams</h3>
	Assignments are due on the dates indicated in the Course Schedule. For extenuating circumstances that impact your ability to meet deadlines or participate in class activities, you are responsible for alerting me as soon as possible. 

	[explain how students should notify you if they are, e.g., ill on an exam day, and, as required by the Faculty Senate Syllabus Policy, your policy on missed course work, including exams or other graded in-class work]

	<h3>Attendance and Participation</h3>
	[Faculty Senate’s syllabus policy requires that you explain how attendance/absences will affect a student’s grade, and recommends that you explain how/whether students can make up missed work.  For online courses, define what “attendance” means, especially if you distinguish that from “participation.” Explain your expectations for participating in the course, whether it is online, in-person, or hybrid.] 

	[If you grade class participation, indicate how participation differs from attendance and include participation in the grade calculation ]

	<h3>Expectations for Graded Work</h3>
	<div>I provide students feedback and/or scores on assignments that require individualized grading before a further assignment of a similar format is due.  Generally, I return work that requires individual feedback within 21* days from the date the work was due. I will notify you if I am unable to grade the work within the 21-day timeframe, and will identify a revised return date. If you submit work after the due date, it may not be returned within 21 days.</div>
 
	<div>The grades for any work that is graded electronically, such as scanned examinations, will be accessible to you within 7 days of the due date for the work. If you submit electronically graded work after the due date, it may not be accessible within 7 days.</div>
 
	Your graded coursework will be returned in compliance with FERPA regulations, such as in class, during my office hours, or via the course management system through which only you will have access to your grades.
	*Note to UWL instructors: You may indicate a number of days that is appropriate to your teaching in your syllabus.  There is no reason to promise that work will be returned by the next class period even if that is your habit. Give yourself a cushion in terms of expectations.  However, in terms of good practice, 21 days would be the absolute latest students should traditionally receive graded feedback. The key element here is the return of work prior to a similar assignment being due.

	<h3>Grading Scale</h3>

Letter Grade	Percentage Equivalent
A		93-100%
AB		89-92%
B		83-88%
BC		79-82%
C		70-78%
D		60-69%
F		59% - below

	<h2>Course Outline and Schedule</h2>
Please note that the timing of activities and topics listed below may change. I will give you timely notice of any major changes in the syllabus by these processes: <explain how you will notify, e.g., through email, on D2L, in class, or some combination of methods>.

Week	Dates	Topics/Unit	Course Resources/
Readings	Instructional Activities/Assignments	Due Dates	Linked to Learning Objective/s
1	Enter Date 	List topic/unit to be covered – add rows as needed	Books/Article links/video links/ multimedia links, readings, lectures, activities 	Activities/Discussion
	Date, Time, Assignment	Which  objectives match these instructional activities or assignments?

	<hr>
	
	{% include syllabus-uwl-policies.html %}
		
</div>
